<div class="product-main">
  <div class="container">
    <div class="product-hero">
      <h1>The right plan for your needs</h1>
      <p>
        Automate your interview process with AI. Improve candidate attendance and shortlist the best ones with automated
        scheduling & calling, personalized messages, & smart interview notes
      </p>
      <div class="prdct-btn-wrap">
        <a href="mailto:hello@frejun.com" class="prduct-demo-btn">Contact
          Us</a>
      </div>
    </div>
  </div>
</div>