<!-- Features Section -->
<section class="features-sec">
  <div class="container">
    <div class="features-head">
      <h1>
        Frejun's features and benefits are explained in detail for users
      </h1>
      <h2>Take ownership of your meetings</h2>
      <img src="assets/images/meeting.svg" alt="" class="img-fluid" />
    </div>
    <div class="features-content">
      <div class="row">
        <div class="col-md-6">
          <h3>The easiest meeting recordings, ever.</h3>
          <p>
            Sick and tired of fumbling around with the voice recorder on your
            phone when you’ve got an important meeting? Use the dial-in number
            or send a calendar invitation to meetings@frejun.com to record your
            meetings, and you’ll never look back.
          </p>
        </div>
        <div class="col-md-6">
          <h3>Zero-fuss implementation.</h3>
          <p>
            With FreJun, there’s no need to bother with standalone apps or
            browsers. Simply invite FreJun to your call, and the tool will
            automatically dial in.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Streamline and optimize your workflow.</h3>
          <p>
            We don’t just log your meeting details; we also give you the power
            to add summaries, action items, and more to each Meeting within your
            dashboard. This streamlines your workflow, and allows team members
            to collaborate more effectively.
          </p>
        </div>
        <div class="col-md-6">
          <h3>All your information, in one place.</h3>
          <p>
            FreJun isn’t just a tool that you can use to record meetings; it’s
            also a project management platform, a calendar, and a transcription
            tool. With all your information in one place, it’s easy to get
            things done.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section -->

<!-- Usage Section -->
<section class="usage-sec">
  <div class="container">
    <div class="usage-head">
      <h2>Unlimited Usage</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="usage-content">
          <h3>Unlimited Exports</h3>
          <p>
            Want to export your meeting notes? It couldn’t get any easier. With
            a click of a button, you can send your data to Jira, Basecamp,
            Asana, Trello, Podio, and other collaborative tools.
          </p>
        </div>
        <div class="usage-content">
          <h3>Unlimited Integrations</h3>
          <p>
            We integrate with Google Calendar and Outlook Calendar, and we’re
            working on getting onboard all the CRMs and platforms that you know
            and love. Stay tuned!
          </p>
        </div>
        <div class="usage-content">
          <h3>Unlimited Meetings</h3>
          <p>
            Regardless of which plan you're on, you'll be able to record and
            store an unlimited number of meetings. Don't worry, we will never
            cut you off.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="usage-content right-img">
          <img
            src="assets/images/notification.jpg"
            alt="notification"
            class="img-fluid max-img"
            />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Usage Section -->

<!-- Better Experiance Section -->
<section class="better-exp-sec">
  <div class="container">
    <div class="better-exp-head">
      <h2>Everything you need for your company to grow</h2>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="better-exp-card">
          <img
            src="assets/images/team.svg"
            class="img-fluid"
            alt="team frejun"
            />
          <h3>Manage your team easily</h3>
          <p>
            FreJun is built to help managers to keep track of their team
            members’
            performance easily. With FreJun, you can get updates, assign to-dos,
            and keep an eye on your team’s progress, all in one place.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="better-exp-card">
          <img
            src="assets/images/billing.svg"
            class="img-fluid"
            alt="billing frejun"
            />
          <h3>Unified billing for teams</h3>
          <p>
            Say goodbye to multiple billings and invoices that are hard to
            track. FreJun offers unified billing, so your team members can be
            billed in a single card.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="better-exp-card">
          <img
            src="assets/images/support.svg"
            class="img-fluid"
            alt="support frejun"
            />
          <h3>Awesome 24*6 support</h3>
          <p>
            We’re committed to providing all FreJun users with unparalleled
            service and support. Regardless of whether you have a question,
            feedback, or suggestion, we’re just a call or an email away.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Better Experiance Section -->

<!-- footer meeting section -->
<section class="footer-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Let FreJun capture the important parts of your business interactions
          automatically!
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <a
          class="btn mt-3"
          href="https://product.frejun.com/signup"
          target="_blank">Get started for free</a>
        <!-- <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
      </div>
    </div>
  </div>
</section>
<!-- footer meeting section -->
