<app-header></app-header>
<!-- Home Banner -->
<section class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h1>
          Improve your <br />
          Recruitment Efficiency
        </h1>
        <p style="padding-top: 0px;">
          FreJunHR helps recruiters save time by automating candidate <br/> screening and simplifying interview calling and scheduling.
        </p>
        <!-- <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
        <p style="padding-top: 0px;">
          <a class="btn mt-3 float-left" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
            target="_blank">Start Free Trial</a>
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/home-banner.png" alt="home-banner">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home Banner -->

<!-- Companies Section -->
<!-- <section class="companies-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 mt-3 text-left text-bold">
        Trusted by some of the leading recruitment agencies
      </div>
      <div class="col-md-9 mt-3">
        <div class="row align-items-center">
          <div class="col">
            <img class="img-fluid" src="assets/images/google.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/uber.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/nike.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/infosys.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/congnizant.png" alt="" />
          </div>
           <div class="col">
            <img class="img-fluid" src="assets/images/goldman.png" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/epsilon.png" alt="" />
          </div> 
          <div class="col">
            <img class="img-fluid" src="assets/images/ibm.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Companies Section -->

<!-- Video Section -->
<!--<section class="">
  <div class="container">
    <div class="video-sec">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <img src="assets/images/video-thumb.jpg" alt="video - interview insights" class="img-fluid video-thumb" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vertical-center">
              <a href="https://youtu.be/tfplQvPIlzY" target="_blank">
                <img class="img-fluid" src="assets/images/ic-play.svg" alt="">
              </a>
            <h3>Find out how FreJun <br> can help you</h3>
          </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vertical-center">
          <img class="img-fluid" src="assets/images/ic-play.svg" alt="play-sound" data-toggle="modal"
            data-target="#videoModal" (click)="pausePlayer()" />
          <h3>Find out how FreJun<span class="txt-grn">HR</span> works?</h3>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- Video Section -->

<!--SMS screening section-->
<section class="sms-screening">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4>SMS Screening</h4>
        <h3>Shortlist Candidates Faster</h3>
        <p>Don’t waste your time in unproductive calling.<br/> Shortlist potential candidates without calling them <br/>using SMS Screening</p>
        <p>
          <a class="learn-more" routerLink = "/sms-screening">Learn More</a>
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/2nd section.png" alt="home-banner">
        </div>
      </div>
    </div>
  </div>
</section>
<!--sms screening section ends-->

<!-- How It Works Section -->
<!--<section class="three-box"
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-4">
        <div class="gray_box text-center">
          <div class="box-icons">
            <img src="assets/images/icon-1.svg" alt="Automated interview scheduling & calling" />
          </div>
          <p>Automate interview Scheduling & Calling</p>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <div class="gray_box text-center">
          <div class="box-icons">
            <img src="assets/images/icon-2.svg" alt="Smart interview notes & feedback" />
          </div>
          <p>
            Get interview notes with highlighted skillsets & candidate insights
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <div class="gray_box text-center">
          <div class="box-icons">
            <img src="assets/images/icon-3.svg" alt="Share interview notes with hriing managers" />
          </div>
          <p>Share them with your Hiring Managers</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--Call Scehduling section-->
<section class="call-scheduling">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/section3.png" alt="section3">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4>Call Scheduling</h4>
        <h3>Automate Interview Calls</h3>
        <p>Schedule interview calls with candidates as per your availability. <br/> FreJun connects you with the candidate by making calls <br/> at the schedule time.</p>
        <p>
          <a class="learn-more" routerLink = "/call-scheduling">Learn More</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!--end of call scheduling section-->
<!--<section class="details-main">-->

  <!--call-recording section -->
  <section class="call-recording">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <h4>Calling</h4>
          <h3>Easy Calling & Recording</h3>
          <p>Call canadidates in few clicks using Click to call or Autodial.<br/> FreJun automatically records saves all Interviews which you <br/> can use for your review.</p>
          <p>
            <a class="learn-more" routerLink = "/calling">Learn More</a>
          </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/new-content-images/section4.png" alt="section4 img">
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- footer meeting section -->
<!--<section class="footer-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Find your perfect candidate before anyone else
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12 text-center">
        <button
          class="btn mt-3"
          type="button"
          data-toggle="modal"
          data-target="#signupModal">
          Get started for free
        </button>
        <a class="btn mt-3" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor" target="_blank">Schedule free
          demo</a>
      </div>
    </div>
  </div>
</section>-->
<!-- footer meeting section -->
  <section class="Notes">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/new-content-images/section5.png" alt="section5">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="text-container">
            <h4>AI & Notes</h4>
            <h3>Quick Interview Notes</h3>
            <p>Make quick interview notes and share them with a click.<br/> FreJun helps recruiters by Automated documentation of <br/>interview calls with highlighted skillsets.</p>
            <p>
              <a class="learn-more" routerLink = "/notes&AI">Learn More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--card section-->
  <section class="card-section">
      <h3>Why FreJun<b>HR</b> ?</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/phone.png" alt="phone-icon"> 
              <div class="card-body">
                <h5 class="card-title">Unlimited Usage</h5> 
                <p class="card-text">Unlimited incoming and outgoing calls with<br/>your Frejun subscription</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/light.png" alt="phone-icon" style="width:37px; height:66px"> 
                <div class="card-body">
                  <h5 class="card-title">Fast Calling</h5> 
                  <p class="card-text">Click to call or Autodial multiple candidates <br/>in few clicks</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/whatsapp.png" alt="whatsapp-icon" style="width: 55px;height: 55px;"> 
              <div class="card-body">
                <h5 class="card-title">Whatsapp Number</h5> 
                <p class="card-text">Connect virtual number with Whatsapp <br/> Business and contact candidates through text.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/others.png" alt="phone-icon" style="width:61px; height:65px"> 
                <div class="card-body">
                  <h5 class="card-title">AI enabled</h5> 
                  <p class="card-text">Automate documentation of interview calls<br/>with highlighted skillsets .</p>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/fast 1.png" alt="phone-icon" style="width: 82px;height: 65px;"> 
              <div class="card-body">
                <h5 class="card-title">Quick Setup</h5> 
                <p class="card-text">Simple and quick setup. Sign up and get <br/> started in minutes.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="assets/images/new-content-images/lock.png" alt="phone-icon" style="width: 50px; height:64px"> 
                <div class="card-body">
                  <h5 class="card-title">Highly secure</h5> 
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetu<br/>er adipiscing elit. Aenean commodo</p>
                </div>
              </div>
            </div>
        </div>
      </div>
  </section>
  <!--ends of card-section-->
  <section class="footer-section">
    <div class="footer-container">
      <p>Simplify your screening and interview process now !</p>
      <button class="btn btn-default" href="#">Start Free Trial</button>
    </div>
  </section>
  <!--end of footer-section-->
<app-footer></app-footer>