<!-- Download Section -->
<section class="download-section">
  <div class="container">
    <img
      src="assets/images/app-download.svg"
      alt="App Download"
      class="img-fluid"
    />
    <h2>
      Download the FreJun desktop app <br />
      to supercharge your meetings.
    </h2>
    <div class="row">
      <div class="col-sm-6 col-12">
        <button class="btn mt-3 float-sm-right" type="button">
          <i
            class="fab
            fa-windows"
          ></i>
          Download
        </button>
      </div>
      <div class="col-sm-6 col-12">
        <button class="btn mt-3 float-sm-left" type="button">
          <i
            class="fab
            fa-apple"
          ></i>
          Download
        </button>
      </div>
    </div>
  </div>
</section>
<!-- Download Section -->

<!-- Companies Section -->
<!-- <section class="companies-sec">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic-companies.png" alt="">
      </div>
    </div>
  </div>
</section> -->
<!-- Companies Section -->

<!-- Video Section -->
<section class="">
  <div class="container">
    <div class="video-sec">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <img
            src="assets/images/video-thumb.jpg"
            alt="record a meeting"
            class="img-fluid video-thumb"
          />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vertical-center">
          <img
            class="img-fluid"
            src="assets/images/ic-play.svg"
            alt=""
            data-toggle="modal"
            data-target="#videoModal"
          />
          <h3>
            Find out how FreJun <br />
            will help you
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video Section -->

<!-- footer meeting section -->
<section class="footer-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Let FreJun capture the important parts of your business interactions
          automatically!
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <a
          class="btn mt-3"
          href="https://product.frejun.com/signup"
          target="_blank"
          >Get started for free</a
        >
        <!-- <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
      </div>
    </div>
  </div>
</section>
<!-- footer meeting section -->
