
<app-header></app-header>

<!--banner section-->
<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4>SMS Screening</h4>
        <h3>Shorlist Candidates Faster</h3>
        <p>Shorlist potential candidates without calling them <br/> using sms screening.</p>
        <p style="padding-top: 0px;">
          <a class="calling-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
            target="_blank">Start Free Trial</a>
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/sms4.png" alt="section4 img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of banner-section-->

<!--How it works section-->
<section class="working">
  <div class="container">
    <h4>How It Works?</h4>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">1</div>
          <div class="text-detail">
            <h4>Send questionaire</h4>
            <p>Share screening questions to all the candidates</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/sms3.png" alt="point1">
        </div>
      </div>
    </div>
    <div class="row" id="row2">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/sms2.png" alt="point1">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">2</div>
          <div class="text-detail">
            <h4>Candidates are shortlisted</h4>
            <p>Based on the answers given,the candidate will <br/> either be "shortlisted" or "not selected"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row3">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">3</div>
          <div class="text-detail">
            <h4>Interview shortlist candidates</h4>
            <p>Interview shortlisted candidates and share interview <br/> recording with hiring managers for review</p>
            <p>
              <a href="#" class="extension-link">Learn More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/sms1.png" alt="point1">
        </div>
      </div>
    </div>
  </div>
</section>
<!--how it works section ends-->
<!--footer section starts-->
<section class="footer-section">
  <div class="footer-container">
    <p>Simplify your screening and interview process now !</p>
    <button class="btn btn-default" href="#">Start Free Trial</button>
  </div>
</section>
<app-footer></app-footer>
<!-- footer section ends-->