<!-- terms and policies -->
<section class="agreement">
  <div class="container">
    <div class="agreement_heading">
      <h1>FreJunHR’s End User License Agreement</h1>
      <h2>USER LICENSE</h2>
    </div>

    <div class="row">
      <div class="col-md-3 agreement-part">
        <ul>
          <li><a routerLink="/terms">User Terms of Service</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/agree" class="active">End User License Agreement</a></li>
        </ul>
      </div>


      <div class="col-md-9">
        <div class="agreement_title">
          <h3>End User License Agreement</h3>
          <p>By clicking on the “I agree” (or similar button) or downloading, installing or using the software as a
            service described herein, you indicate your assent to the following terms of this agreement & agree to be
            bound by the terms of this eula.
          </p>
          <p>This software’s end user license agreement ("<strong>EULA</strong>")
            is a legal agreement between you, the user of the software as a service(“<strong>You</strong>” or
            “<strong>User</strong>”) and frejun inc
            ("<strong>Licensor</strong>", "<strong>we</strong>", "<strong>us</strong>"
            and "<strong>our</strong>").</p>
          <p>This eula provides and captures important legal information about the license of software as a
            service,namely FreJunHR (the “<strong>Software</strong>” or “<strong>Service</strong>”
            as the context may require). </p>
          <span>IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, WE ENCOURAGE YOU
            NOT TO ACCESS, OR USE THE
            SOFTWARE AND THE SERVICESAND TO UNINSTALL/ DELETE THE SOFTWARE.</span>
          <span>1. Grant of License.</span>

          <div class="agreement_sub_content">
            <p>Licensor hereby grants You a non-exclusive,
              non-assignable/non-transferable, license to use,
              access,download, and install the Software and use and access the
              Services; However, the ability
              to use or access the Services shall be dependent on the existence
              / validity of a subscription
              to the Services by you or any third party post the free trial
              period.Nothing herein contained
              shall be construed as being granted to You any intellectual
              property right, which includes
              copyrights, patents, trademarks or trade secrets, regarding the
              Software and/or Services except
              as expressly provided for hereunder. We shall provide you the
              downloadable FreJunHR Software
              which shall activate immediately once you download from the
              website or other FreJunHR resources. </p>
          </div>
          <span>2. Restriction on Use.</span>
          <p>You may not, directly or indirectly-</p>
          <div class="agreement_sub_content">
            <p>I. Offer the Software or the Services for rent, lease, or
              otherwise transfer, sub-license the same.</p>
            <p>II. Decompile, disassemble, reverse engineer, and attempt to
              discover the Software's source code
              or otherwise reduce the Software to a human-perceivable form.</p>
            <p>III. Export or re-export the Software in any form in violation of
              any applicable laws and regulations
              regarding export control.</p>
            <p>IV. Distribute, facilitate the distribution of or transfer the
              Software in any manner. </p>
            <p>V. Create, promote or market any competing software.</p>
            <p>VI. Use the Software and/ or Services for anyfor any high risk
              activities or purposes wherein
              use or failure of the Software and/ or Services could potentially
              cause or might result in any
              property damage, death, bodily injury or personal injury or
              catastrophic loss including, without
              limitation, use in connection with any nuclear, avionics,
              navigation, military, medical, life
              support or other life critical application.</p>
          </div>
          <span>3. Warranty and Liability.</span>
          <div class="agreement_sub_content">
            <p>I. Licensor provides the software and services to you on “as is” basis and hereby disclaims, all
              warranties and conditions, whether express, implied or statutory, including but not limited to any (if
              any) warranties of non-infringement of third party rights, merchantability, fitness for a particular
              purpose, lack of virus, accuracy or completeness of the out-put of the software and/or services (including
              but not limited to the minutes of the meetings drafted).</p>
            <p>II. In no event shall Licensor be liable for any direct or indirect damages whatsoever (including but not
              limited to loss of profits, loss of confidential or other information, business interruption) arising out
              of or in any way related to your use of or inability to use the software and/ or services.</p>
            <p>III. In no event shall Licensor be liable for the accuracy or completeness of the notes, interview
              recordings, desktop app records and keywords recorded and drafted by the software.</p>
          </div>
          <span>4. Consent. </span>
          <div class="agreement_sub_content">
            <p>I. You understand that the Softwarerecords the conversations/
              meetings that you have using the
              Software / Service (“<strong>Conversation</strong>”). The
              recording of the Conversation is then made into a
              transcript which is then modified using (at the option of the
              Licensor) Licensor’s personnel
              and/ orartificial intelligence technology,to be presented in the
              form of minutes of meeting
              which is shared with the participants of Conversation</p>
            <p>II. You hereby consent to –</p>
            <div class="agreement_sub_parts">
              <p>a) Calendar access for automated interview scheduling, </p>
              <p>b) Recording of the Conversation and processing and sharing of the same as above,</p>
              <p>c) Collection, use and disclosure of the information shared by
                you and the other
                participants of the Conversation as stated herein and the
                <a class="g-link" routerLink="/privacy">policy page</a></p>
              <p>d) Licensor and its consultants, employees, affiliates and
                service providers
                having access to the contents of the Conversation and any
                transcripts and minutes thereof.</p>
            </div>
            <p>III. Licensor takes no responsibility and shall not be liable for
              what is discussed or what
              information is shared by you or the other participants during the
              Conversation.</p>
          </div>
          <span>5. Indemnity.</span>
          <p>You agree to defend, indemnify and hold harmless Licensor and its
            affiliates, and their employees,
            contractors, agents, officers and directors, from and against any
            and all claims, damages,
            obligations, losses, liabilities, costs or debt, and expenses
            (including but not limited to
            attorney’s fees) arising from:</p>
          <div class="agreement_sub_content">
            <p>(a) Your use of and access to the Software and/or Services,
              including any data or work transmitted or received by You</p>
            <p>(b) Your violation of any term
              of this EULA</p>
            <p>(c) Your violation of any third-party right, including without
              limitation any
              right of privacy, publicity rights or intellectual property rights</p>
            <p>(d) Your violation of any
              applicable law, rule or regulation</p>
            <p>(e) Any claim of damages that arise as a result of any of
              your content shared by you or the other participants of the
              Conversation</p>
            <p>(f) Any other
              party’s access and use of the Software or Services with your
              unique username, password or other
              appropriate security code.</p>
          </div>
          <span>6. Termination.</span>
          <div class="agreement_sub_content">
            <p>I. You may terminate this EULA, at any time, byuninstalling the
              Software and/or by deleting your account. </p>
            <p>II. Licensor may terminate this EULA and your license to use the
              Software and Services, if You fail to
              comply with the terms of this EULA and correct the breach notified
              to you within 7 days from
              the date of receipt of such notice. </p>
            <p>III. On the termination of this EULA, you shall not make any
              further use of the Software or
              Services whatsoever nor permit any third-partyaccess to the
              Software or Services to do so using your account. </p>
          </div>
          <span>7. Intellectual Property Rights.</span>
          <div class="agreement_sub_content">
            <p>I. All the materials, including, without limitation, software,
              images, text, graphics, illustrations, logos,
              patents, trademarks, service marks, copyrights, photographs,
              audio, videos and music and all intellectual property
              rights related to or contained in the Software and Services, are
              the exclusive property of Licensor and its licensors.
              Except as explicitly provided herein, nothing in this EULA shall
              be deemed to create a license in or to the Software
              and/ or the Service in your favor. </p>
            <p>II. You and the other participants shall have the right to the
              information shared during the Conversation, however,
              you provide us the irrevocable, non-exclusive and royalty free
              license to use the same to provide you the services
              and also in accordance with the provisions of the <a class="g-link" routerLink="/privacy">policy page</a>
            </p>
          </div>
          <span>8. Governing Laws.</span>
          <p> This EULA shall be construed and
            governed by the laws of Delaware, USA without regard to principles
            of conflict of laws and the courts at Delaware city shall have
            jurisdiction to decide any dispute arising out of or as
            a result of this EULA.</p>
          <span>9. Severability.</span>
          <p> In the event that any of the
            provisions of this EULA shall be held by a court or other
            tribunal of competent jurisdiction to be unenforceable, such
            provisions shall be limited or eliminated to the minimum
            extent necessary so that this EULA shall otherwise remain in full
            force and effect and enforceable. This EULA and the
            Terms of Use executed between the Licensor and your organization (if
            any) constitutes the entire agreement between
            the parties pertaining to the subject matter hereof, and any and all
            written or oral agreements previously existing
            between the parties pertaining to the subject matter hereof are
            inapplicable. Neither the rights nor the obligations
            arising under this EULA are assignable or transferable by You, and
            any such attempted assignment or transfer shall
            be void and without effect.</p>
          <span>10. General.</span>
          <p> You agree to use the Software and
            Services at your own risk. If You have any
            questions, complaints or claims with respect to the Software or
            Services, Youyou should contact us
            at <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>
            or reach out directly to our CEO at <a href="mailto:subhash@frejun.com"
              class="g-link">subhash@frejun.com</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>