// @import '../../styles.scss';

// .container {
//   height: 95vh;
// }
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.sms-screen {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  // box-sizing: border-box;
  // overflow-x: hidden;
  // overflow-y: hidden;

  // $login-signup-top-nav-background: #e3e7e8;

  // .main_bg {
  //   background: #f9ffd9;
  //   display: flex;
  //   height: 100vh !important;
  //   align-items: flex-start;
  //   background-image: url(/assets/images/login_bottom_image.svg);
  //   background-position: bottom left;
  //   background-repeat: no-repeat;
  //   overflow: auto;
  //   padding-top: 50px;
  //   @media only screen and (max-width: 1366px) {
  //     background-size: 20%;
  //     .options{
  //       margin-left: 75px;
  //     }
  //   }
  //   @media only screen and (max-width: 991px) {
  //     background: #f9ffd9;
  //     display: block;
  //     padding-top: 0px;
  //     padding-top: 20px;
  //     padding-bottom: 300px;
  //     background-image: url(/assets/images/login_bottom_image.svg);
  //     background-position: bottom left -35px;
  //     background-repeat: no-repeat;
  //     background-size: 300px;
  //     .options{
  //       margin-left: 50px;
  //     }
  //   }
  // }
  // .show-as-page {
  //   display: block;
  //   // margin-top: 30px !important;
  // }

  // .login-signup-container {
  //   padding: 0px 60px 0 0px !important;
  //   @media only screen and (max-width: 991px) {
  //     padding: 0px 20px 30px 20px !important;
  //   }
  //   font-family: "Neue Haas Grotesk Text Pro";
  //   max-width: 100%;
  //   // width: 332px;
  //   border-radius: 5px;
  //   text-align: left;

  //   .alert-warning {
  //     color: #eb4747;
  //     background-color: transparent;
  //     border: none;
  //     text-align: left;
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     padding-left: 0;
  //   }
  //   .alert-success {
  //     color: #01be3f;
  //     background-color: transparent;
  //     border: none;
  //     text-align: left;
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     padding-left: 0;
  //   }

  //   .mat-error {
  //     color: #f44336;
  //     font-size: 10px;
  //     margin-left: 5px;
  //     padding-top: 15px !important;
  //   }
  //   input {
  //     padding: 0px !important;
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     color: #000000;
  //   }
  //   span {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     color: #7f7f7f;
  //   }
  //   h3 {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     font-size: 22px;
  //     text-align: center;
  //     color: #000000;
  //     font-weight: bold;
  //   }
  //   h5 {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     font-size: 14px;
  //     color: #000000;
  //     font-weight: bold;
  //   }
  //   p {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     font-size: 14px;
  //     color: #000000;
  //   }
  //   .btn.btn-primary {
  //     line-height: normal;
  //     border-radius: 0px !important;
  //     height: 50px;
  //     font-family: "Neue Haas Grotesk Text Pro" !important;
  //     font-size: 16px;
  //   }
  //   .btn.text-primary {
  //     line-height: normal;
  //     border-radius: 0px !important;
  //     width: 170px;
  //     height: 50px;
  //     font-family: "Neue Haas Grotesk Text Pro" !important;
  //     font-size: 16px;
  //     border: solid 2px #01be3f;
  //     margin-left: 10px;
  //   }
  //   .google_icon {
  //     height: 25px;
  //     margin-right: 10px;
  //   }
  //   .ms_icon {
  //     height: 25px;
  //     margin-right: 10px;
  //   }

  //   h3 {
  //     text-align: center;
  //   }

  //   .icon-keyboard_arrow_left {
  //     cursor: pointer;
  //   }

  //   .submit {
  //     float: right;
  //   }

  //   // .logo-container {
  //   //   height: 90px;
  //   //   background-size: cover;
  //   //   background-image: url(/assets/images/login_logo_mobile.png);
  //   //   width: 90px;
  //   //   margin: 0 auto;
  //   // }

  //   // .login-signup-wrapper {
  //   //   .tabs-container {
  //   //     background: $login-signup-top-nav-background;
  //   //   }
  //   // }
  // }
  // .bg_white {
  //   border-radius: 9px;
  //   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.17);
  //   background-color: #ffffff;
  //   max-width: 360px;
  //   width: 100%;
  //   margin: 0 auto;

  //   h3 {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     font-size: 22px;
  //     text-align: center;
  //     color: #000000;
  //   }
  //   h6 {
  //     font-family: "Neue Haas Grotesk Text Pro";
  //     font-size: 16px;
  //     color: #000000;
  //   }

  // }
  // .title {
  //   text-align: center;
  // }

  // .action-container {
  //   line-height: 30px;
  //   height: 60px;
  // }

  // .divider {
  //   text-align: center;
  //   span {
  //     background: white;
  //     padding: 0 20px;
  //   }
  //   &::after {
  //     content: "";
  //     border-top: 1px solid #ccc;
  //     display: block;
  //     margin-top: -13px;
  //     margin-bottom: 20px;
  //   }
  // }
  // .login_image {
  //   text-align: left;
  //   padding: 1rem 0;
  //   img {
  //     width: 135px;
  //   }
  // }

  // .slider_mian {
  //   background-color: #d6e602;
  //   text-align: center;
  //   @media only screen and (max-width: 991px) {
  //     height: unset !important;
  //   }
  //   .carousel {
  //     position: unset;
  //   }
  //   .carousel-inner img {
  //     width: 398px;
  //     max-width: 100%;
  //     height: 100%;
  //     @media only screen and (max-width: 991px) {
  //       width: 250px;
  //     }
  //   }
  //   .carousel-inner {
  //     position: relative;
  //     width: 100%;
  //     height: 100vh;
  //     overflow: hidden;
  //     vertical-align: middle;
  //     display: flex;
  //     text-align: center;
  //     align-items: center;
  //   }
  //   .slider-content {
  //     margin-top: 50px;
  //     h3 {
  //       font-family: "Neue Haas Grotesk Text Pro";
  //       font-weight: bold;
  //       font-size: 30px;
  //       text-align: center;
  //       color: #000000;
  //     }
  //     p {
  //       width: 316px;
  //       font-family: "Neue Haas Grotesk Text Pro";
  //       font-size: 20px;
  //       text-align: center;
  //       color: #000000;
  //       margin: 0 auto;
  //     }
  //     a {
  //       font-size: 20px;
  //       text-align: center;
  //       font-family: "Neue Haas Grotesk Text Pro";
  //       font-weight: bold;
  //       color: #01be3f;
  //     }
  //   }
  //   .carousel-indicators {
  //     li {
  //       box-sizing: content-box;
  //       -ms-flex: 0 1 auto;
  //       flex: 0 1 auto;
  //       width: 6px;
  //       height: 6px;
  //       margin-right: 3px;
  //       margin-left: 3px;
  //       text-indent: -999px;
  //       cursor: pointer;
  //       background-color: #01be3f;
  //       background-clip: padding-box;
  //       border: 2px solid #01be3f;
  //       opacity: 1;
  //       transition: opacity 0.6s ease;
  //       border-radius: 100%;
  //     }
  //     .active {
  //       border: 2px solid #01be3f;
  //       background-color: #d6e602;
  //     }
  //   }
  // }

  // .error_icon2 {
  //   background-image: url(/assets/images/error_icon.svg);
  //   background-repeat: no-repeat;
  //   background-position: right top;
  //   height: 30px;
  //   position: absolute;
  //   right: 0px;
  //   top: -10px;
  //   width: 30px;
  // }
  // .row:after {
  //   display: unset !important;
  // }
  // .row:before {
  //   display: unset !important;
  // }

  // .form-control {
  //   border: 1px solid #dadada !important;
  //   margin-bottom: -5px !important;
  //   padding: 10px !important;
  //   border-radius: 3px;
  // }

  // /deep/ .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  //   margin-top: 0.54166667em;
  //   top: calc(100% - 0.666667em);
  // }

  // .mat-focused .placeholder {
  //   color: transparent;
  // }
  // .example-full-width {
  //   width: 100%;
  // }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -53px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-family:"Neue Haas Grotesk Text Pro" ;
    font-size: normal;
    font-weight: normal;
  }
  p {
    font-weight: normal;
    font-size: normal;
  }
  .txt-grn {
    color: #01be3f !important;
    display: unset !important;
  }
  .que {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .sque {
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
  }
  .powerby {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 60px;
  }
  .powerby p {
    font-size: 14px;
    color: #000;
    padding-right: 10px;
    display: inline;
  }
  .proceed {
    width: 118px;
    height: 42px;
    border-radius: 2.4px;
  }

  /deep/ .container {
    @media only screen and (min-width: 1524px) {
      max-width: 1360px !important;
    }
    @media only screen and (min-width: 1824px) {
      max-width: 1660px !important;
    }
  }

  // /deep/ .powerby{
  //   @media only screen
  //   and (min-width : 1524px){
  //     margin-top: 100px !important;
  //   }
  //   @media only screen
  // and (min-width : 1824px){
  //   margin-top: 150px !important;

  // }
  // }
  small {
    font-size: smaller !important;
  }
}
.loading_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -53px;
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  // opacity: none !important;
  background-color: #01be3f !important;
  // display: none;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #01be3f;
}

// ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
//   background-color:#01be3f !important;
// }

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #01be3f !important; /*inner circle color change*/
}

// ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//  border-color:#01be3f!important; /*outer ring color change*/
// }
// .question-block{
// margin-top: 120px;
// }

// .question-block{

//  @media only screen and (max-width: 600px) {
//   margin-top: 20px;
//  }
//  @media only screen and (min-width: 768px) {
//   margin-top: 50px;
//  }
//  @media only screen and (min-width: 800px) {
//   margin-top: 80px;
//  }
//  @media only screen and (min-width: 1400px) {
//   margin-top: 120px;
//  }
// }
// .thank-screen{
//   @media only screen and (min-width: 1720px) {
//     margin-top: 120px !important;
//    }
// }

.thank-screen-img {
  @media only screen and (max-width: 460px) {
    width: 300px;
    height: 250px;
  }
}
.expire-screen-img {
  @media only screen and (max-width: 660px) {
    width: 300px;
    height: 250px;
  }
}
// ::ng-deep .mat-radio-button .mat-radio-container {
//   display: none;
// }
// ::ng-deep .mat-checkbox .mat-checkbox-container {
//   display: none;
// }
// /deep/ .mat-checkbox-frame {
//   border-width: none;
//   border-color: none;
//   display: none;
// }

.option {
  background-color: #01be3f;
  width: 150px !important;
  height: 37px;
  padding: 5px 5px;
  vertical-align: middle;
  text-align: center;
}
#bottom {
  position: absolute;
  bottom: 5px;
}
// #image{
//   display: flex;
//   height: 300px;
// }
// .child {
//   width: 100px;  /* Or whatever */
//   height: 100px; /* Or whatever */
//   margin: auto;  /* Magic! */
// }
.overlaye {
  @media only screen and (max-width: 600px) {
    position: absolute;
    top: 35%;
    left: 10%;
    margin: -25px 0 0 0px;
    img {
      width: 300px;
      height: 200px;
    }
  }
  @media only screen and (max-width: 768px) {
    position: absolute;
    top: 35%;
    left: 10%;
    margin: -25px 0 0 0px;
    img {
      width: 300px;
      height: 200px;
    }
  }
  @media only screen and (min-width: 768px) {
    position: absolute;
    top: 45%;
    left: 35%;
    margin: -25px 0 0 -53px;
  }
}

/** New css **/

.jd-title {
  font-size: 22px;
}
.screening_ttl {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}
.job-details {
  text-align: left;
  margin: 0 auto;
  width: 80%;
  h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .job-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #7f7f7f;
    line-height: 20px;
  }
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  border-radius: 4px;
  min-width: 125px;
  height: 39px;

  border: 2px solid #d8f5da;
  box-sizing: border-box;
  border-radius: 5px;
  color: #01be3f;
  text-align: center;
  line-height: 37px;
}
.radio-toolbar input[type="radio"]:checked + label {
  background: #d8f5da;
  border: 2px solid #d8f5da;
}
.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar input[type="checkbox"]:checked + label {
  background: #d8f5da;
  border: 2px solid #d8f5da;
}
.radio-toolbar input[type="checkbox"] {
  display: none;
}
.step1,
.step2,
.step3 {
  margin-top: 50px;
}
