@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayblack';
    src: url('../fonts/sf-pro-display-black-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayblack_italic';
    src: url('../fonts/sf-pro-display-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sf_pro_displaybold';
    src: url('../fonts/sf-pro-display-bold-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaybold_italic';
    src: url('../fonts/sf-pro-display-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayheavy';
    src: url('../fonts/sf-pro-display-heavy-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayheavy_italic';
    src: url('../fonts/sf-pro-display-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaylight';
    src: url('../fonts/sf-pro-display-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaylight_italic';
    src: url('../fonts/sf-pro-display-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaymedium';
    src: url('../fonts/sf-pro-display-medium-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displaymedium_italic';
    src: url('../fonts/sf-pro-display-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_pro_displayitalic';
    src: url('../fonts/sf-pro-display-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-display-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Black';
    src: url('../fonts/CircularStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-BlackItalic';
    src: url('../fonts/CircularStd-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-BookItalic';
    src: url('../fonts/CircularStd-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-Medium';
    src: url('../fonts/CircularStd-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd-MediumItalic';
    src: url('../fonts/CircularStd-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskTXPro-Bd';
    src: url('../fonts/NHaasGroteskTXPro-Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskTXPro-BdIt';
    src: url('../fonts/NHaasGroteskTXPro-BdIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskTXPro-It';
    src: url('../fonts/NHaasGroteskTXPro-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskTXPro-Rg';
    src: url('../fonts/NHaasGroteskTXPro-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
