@charset "utf-8";
/* font variable */
$font-normal-sf-pro: "SF Pro Display";
$font-normal-nhaas-pro: 'NHaasGroteskTXPro-Rg';
$font-normal-nhaas-pro-bold: 'NHaasGroteskTXPro-Bd';
$font-Neu:'Neue Haas Grotesk Text Pro';
$font-poppins :'Poppins';