<app-header></app-header>
<!-- Pricing Section -->
<!--<div class="product-main">
  <div class="container">
    <div class="product-hero">
      <h1>The right plan for your needs</h1>
      <p>
        Automate your interview process with AI.
        Improve candidate attendance and shortlist the best ones with automated interview scheduling & calling,
        personalized WhatsApp notifications, smart interview notes & AI interview insights.
      </p>
      <div class="prdct-btn-wrap">
        <a class="prduct-demo-btn" href="mailto:hello@frejun.com">Contact Us</a>
      </div>
    </div>
  </div>
</div>-->
<!-- Pricing Section -->

<!-- Pricing info section -->

<!--<section class="pricing-info">
  <div class="container">
    <div class="pricing-inner-box">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
          <div class="box-content">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-4 col-sm-12 col-12 single-box-content-wrap">
                <div class="single-box-content">
                  <h5>Standard</h5>
                  <p>
                    Interview scheduling & calling
                  </p>
                  <div class="single-box-btn-wrap">
                    <a class="box-content-btn" href="mailto:hello@frejun.com">Contact Us</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 single-box-content-wrap">
                <div class="single-box-content">
                  <h5>Plus</h5>
                  <p>
                    Personalized messages
                  </p>
                  <div class="single-box-btn-wrap">
                    <a class="box-content-btn" href="mailto:hello@frejun.com">Contact Us</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12 single-box-content-wrap">
                <div class="single-box-content">
                  <h5>Gold</h5>
                  <p>
                    Interview insights powered with AI
                  </p>
                  <div class="single-box-btn-wrap">
                    <a class="box-content-btn" href="mailto:hello@frejun.com">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pricing-inner-wrap">
      <h2>Scheduling</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Unlimited interview scheduling
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Google Calendar & Zapier integrations
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Email notifications
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright border-bottom-0">
                15 minutes & 30 minutes interview
              </td>

              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Interview Calls</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Auto dial
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Unlimited interview calls
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Email notifications
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Virtual number
              </td>

              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Interview recording</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Automated interview recording
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Interview notes with highlighted skillsets
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Unlimited interview notes exports
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>AI insights</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <!-- <tr>
              <td class="feature-heading borderright">
                Automated interview recording
              </td>

              <td class="text-center borderright"></td>
              <td class="text-center borderright"></td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Unlimited interview notes exports
              </td>

              <td class="text-center borderright"></td>
              <td class="text-center borderright"></td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr> -->

            <!--<tr>
              <td class="feature-heading borderright border-bottom-0">
                Interview insights
              </td>

              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Speech analytics
              </td>

              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Messaging</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Personalized WhatsApp notifications
              </td>

              <td class="text-center borderright"></td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Bulk messages
              </td>

              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Security</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Authentication with Google
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Two-factor authentication settings
              </td>

              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Billing</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Team Billing
              </td>

              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pricing-inner-wrap">
      <h2>Support</h2>

      <div class="table-responsive">
        <table class="table schedule-table">
          <tbody>
            <tr>
              <td class="feature-heading borderright">
                Email
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright">
                Chat
              </td>

              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center borderright">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>

            <tr>
              <td class="feature-heading borderright border-bottom-0">
                Phone
              </td>

              <td class="text-center borderright border-bottom-0"></td>
              <td class="text-center borderright border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
              <td class="text-center border-bottom-0">
                <img src="../../assets/images/chkmark.png" alt="checkmark" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>-->

<!-- Pricing info section  ends-->

<!-- Gaurantee Text Section -->
<!-- <section class="gaurantee-text-sec">
  <div class="container">
    <h2>FreJun 15 days guarantee</h2>
    <p class="center" style="text-align: center">Not sure whether FreJun’s a
      good fit? With our 15 Days Moneyback Guarantee, you can try out our tool,
      risk-free.
      <br><br>

      Simply sign up for your preferred plan, and set up and start using FreJun.
      If you don’t like our tool, <br>
      shoot us an email within 15 days, and we’ll refund the full amount you’ve
      paid.
    </p>
  </div>
</section> -->
<!-- Gaurantee Text Section -->

<!--  client feedback Section -->
<!-- <section class="client-feedback">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide"
      data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
              <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
              <div class="text-content">
                <h2>Top-notch customer support</h2>
                <p>Our support reps are available via email and live chat 20
                  hours a day,
                  6 days a week, all year round. We resolve the majority of
                  support issues within the first 12 hours,
                  and provide Skype and phone call support for more complex
                  issues requiring a high level of finesse</p>
                <h4>Tharun,</h4>
                <h4>UI / UX Designer</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
              <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
              <div class="text-content">
                <h2>Top-notch customer support</h2>
                <p>Our support reps are available via email and live chat 20
                  hours per day,
                  6 days per week, all year round. We resolve the majority of
                  support issues within the first 12 hours,
                  and provide Skype and phone call support for more complex
                  issues requiring a high level of finesse.</p>
                <h4>Tharun,</h4>
                <h4>UI / UX Designer</h4>
              </div>
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
              <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
              <div class="text-content">
                <h2>Top-notch customer support</h2>
                <p>Our support reps are available via email and live chat 20
                  hours per day,
                  6 days per week, all year round. We resolve the majority of
                  support issues within the first 12 hours,
                  and provide Skype and phone call support for more complex
                  issues requiring a high level of finesse</p>
                <h4>Tharun,</h4>
                <h4>UI / UX Designer</h4>
              </div>
            </div>

          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"
          class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</section> -->

<!--  client feedback Section -->

<!--<section class="recruitment-section">
  <div class="container">
    <div class="recruitment-content">
      <div class="section-title">
        <h1>
          Frequently asked questions about pricing
        </h1>
      </div>

      <ul class="nav nav-pills recruitment-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Plans & Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">How
            <strong> FreJun<span class="txt-grn">HR</span></strong> works?</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="faq-sec">
            <div class="container">
              <div id="accordion">
                <div class="accordion-card">
                  <div class="accordion-card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="mb-0">
                      Do you offer free trial?
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="accordion-card-body">
                      Yes, we offer free trial on all our plans. For details,
                      contact us at
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5 class="mb-0">
                      Do I have to pay annualy for paid plans?
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="accordion-card-body">
                      We have custom plans for teams and agencies. For pricing details, contact us at hello@frejun.com
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingThree" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5 class="mb-0">
                      Can I upgrade or downgrade my account?
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="accordion-card-body">
                      Yes, you can upgrade or downgrade your account. For doing
                      so, contact us at
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="heading4" data-toggle="collapse"
                    data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <h5 class="mb-0">
                      Are there discounts for annual payments?
                    </h5>
                  </div>
                  <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="accordion-card-body">
                      Yes, we offer discounts for annual payments. Let's discuss
                      it at
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="heading5" data-toggle="collapse"
                    data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <h5 class="mb-0">
                      Do you offer team discounts or team accounts?
                    </h5>
                  </div>
                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="accordion-card-body">
                      <strong> FreJun<span class="txt-grn">HR</span></strong> is
                      built for virtual recruitment teams. And we know teams
                      love discounts. Contact us at
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>to
                      know more.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="heading6" data-toggle="collapse"
                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <h5 class="mb-0">
                      What kind of support do I get with a standard FreJun<span class="txt-grn">HR</span>
                      account?
                    </h5>
                  </div>
                  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                    <div class="accordion-card-body">
                      With a standard FreJunHR account, you’ll have access to email and chat support (available 20 hours
                      a day, 6 days a week, and all year round). We also offer Skype and phone call support for more
                      complex issues that aren’t resolved within the first 12 hours. Our goal is to rectify the problems
                      you’re facing within 48 hours of hearing about them.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="faq-sec">
            <div class="container">
              <div id="accordion-2">
                <div class="accordion-card">
                  <div class="accordion-card-header" id="headingOne-1" data-toggle="collapse"
                    data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                    <h5 class="mb-0">
                      Is my data safe?
                    </h5>
                  </div>

                  <div id="collapseOne-1" class="collapse show" aria-labelledby="headingOne-1"
                    data-parent="#accordion-2">
                    <div class="accordion-card-body">
                      FreJun takes the Privacy of the customers very seriously.
                      That’s one of the reasons why we don’t access your
                      calendar or join the call automatically. We don’t access
                      the data without the user’s written permission, and only
                      authorized personnel has access to the data. For more
                      information, please contact us
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-2" data-toggle="collapse"
                    data-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                    <h5 class="mb-0">
                      Are you compliant with the GDPR?
                    </h5>
                  </div>
                  <div id="collapseTwo-2" class="collapse" aria-labelledby="headingTwo-2" data-parent="#accordion-2">
                    <div class="accordion-card-body">
                      Yes,
                      <strong> FreJun<span class="txt-grn">HR</span></strong> is
                      GDPR compliant.
                    </div>
                  </div>
                </div>

                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-3" data-toggle="collapse"
                    data-target="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3">
                    <h5 class="mb-0">
                      What Security measures does FreJun<span class="txt-grn">HR</span>
                      take?
                    </h5>
                  </div>
                  <div id="collapseTwo-3" class="collapse" aria-labelledby="headingTwo-3" data-parent="#accordion-2">
                    <div class="accordion-card-body">
                      We take the following measures for detecting and stopping
                      personal data breach: <br />
                      <br />

                      <b>All our systems are routinely updated for security
                        patches to minimise threats from vulnerable software. </b><br /><br />
                      * Non essential ports are blocked by default. <br />
                      * Our database is hosted on a virtual private network and
                      it is accessible only from application servers that need
                      access to the data. <br />
                      * The data is stored on encrypted media in secure data
                      centres. <br />
                      * Security measures against attacks like SQL injection,
                      cross site scripting, cross site request forgery are
                      ensured. <br />
                      * Background checks on staff that handles data. <br />
                      * Usage of anonymised data for development teams that need
                      data for training models or debugging issues. <br />
                      * Data access is limited through systems under monitoring
                      in our secure facilities. Contact us at
                      <a href="mailto:hello@frejun.com">hello@frejun.com</a>
                      if you have any specific questions about our product’s
                      security.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="faq-sec">
            <div class="container">
              <div id="accordion-3">
                <div class="accordion-card">
                  <div class="accordion-card-header" id="headingOne-1" data-toggle="collapse"
                    data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                    <h5 class="mb-0">
                      Is
                      <strong> FreJun<span class="txt-grn">HR</span></strong>
                      available on mobile?
                    </h5>
                  </div>

                  <div id="collapseOne-1" class="collapse show" aria-labelledby="headingOne-1"
                    data-parent="#accordion-3">
                    <div class="accordion-card-body">
                      Yes, you can use
                      <strong> FreJun<span class="txt-grn">HR</span></strong> is
                      available on mobile.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-2" data-toggle="collapse"
                    data-target="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo-2">
                    <h5 class="mb-0">
                      How does automted interview scheduling & calling work?
                    </h5>
                  </div>
                  <div id="collapseTwo-2" class="collapse" aria-labelledby="headingTwo-2" data-parent="#accordion-3">
                    <div class="accordion-card-body">
                      The automated scheduling feature of FreJunHR enables recruiters to share interview scheduling link
                      to the candidates. The candidates schedule the interview based on their preference. Once
                      scheduled, FreJunHR sends a confirmation message and automatically calls both the recruiter and
                      the candidate in their respective numbers at the scheduled time.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-3" data-toggle="collapse"
                    data-target="#collapseTwo-3" aria-expanded="false" aria-controls="collapseTwo-3">
                    <h5 class="mb-0">
                      How do bulk WhatsApp messages work?
                    </h5>
                  </div>
                  <div id="collapseTwo-3" class="collapse" aria-labelledby="headingTwo-3" data-parent="#accordion-3">
                    <div class="accordion-card-body">
                      To send bulk messages, all you have to do is select a list of camdidates and choose a personalized
                      message template and send WhatsApp messages to candidates with a single click. You can create your
                      own message templates.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-4" data-toggle="collapse"
                    data-target="#collapseTwo-4" aria-expanded="false" aria-controls="collapseTwo-4">
                    <h5 class="mb-0">
                      How to know the status of my messages?
                    </h5>
                  </div>
                  <div id="collapseTwo-4" class="collapse" aria-labelledby="headingTwo-4" data-parent="#accordion-3">
                    <div class="accordion-card-body">
                      The status of your messages and calls can be easily accessed through the dashboard.
                    </div>
                  </div>
                </div>
                <div class="accordion-card">
                  <div class="accordion-card-header collapsed" id="headingTwo-5" data-toggle="collapse"
                    data-target="#collapseTwo-5" aria-expanded="false" aria-controls="collapseTwo-5">
                    <h5 class="mb-0">
                      How does auto-dial work?
                    </h5>
                  </div>
                  <div id="collapseTwo-5" class="collapse" aria-labelledby="headingTwo-5" data-parent="#accordion-3">
                    <div class="accordion-card-body">
                      Auto dial lets you select a list of candidates and call them one by one with 30 seconds interval.
                      While calling, you can refer to the questionnare for a seamless interview process.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Companies Section -->
<!-- <section class="companies-sec">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic_apple.svg" alt="">
      </div>
      <div class="col">
        <img class="img-fluid" src="assets/images/ic-companies.png" alt="">
      </div>
    </div>
  </div>
</section> -->
<!-- Companies Section -->

<!-- footer meeting section -->
<!--<section class="footer-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Streamline your interview process with AI

        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
        <!--<a class="btn mt-3" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor" target="_black">Schedule free
          demo</a>
      </div>
    </div>
  </div>
</section>-->
<!-- footer meeting section -->
<section class="plan-section">
  <div class="container">
    <div class="heading-container">
      <h3>Our Plans</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div>
  </div>
</section>

<!--tab-section starts-->
<section class="tab-section">
  <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills text-center border-0 rounded-nav">
    <li class="nav-item">
      <a id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">Monthly</a>
    </li>
    <li class="nav-item">
      <a id="yearly-tab" data-toggle="tab" href="#yearly" role="tab" aria-controls="home" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold">Yearly (Save 15%)</a>
    </li>
  </ul>
  <h4>Calling Charges: 0.80 ₹/min; SMS Charges: 0.35 ₹/sms</h4>
  <div id="myTabContent" class="tab-content">
    <div id="monthly" role="tabpanel" aria-labelledby="monthly-tab" class="tab-pane fade px-4 py-5 show active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Standard</h5> 
                <p class="card-text">₹499</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li id="list-cross">Nudge SMS</li>
                  <li id="list-cross">Auto Dial</li>
                  <li id="list-cross">Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Plus</h5> 
                <p class="card-text">₹ 1500</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li>Nudge SMS</li>
                  <li id="list-cross">Auto Dial</li>
                  <li id="list-cross">Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Advanced</h5> 
                <p class="card-text">₹ 2499</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li>Nudge SMS</li>
                  <li>Auto Dial</li>
                  <li>Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="yearTabContent" class="tab-content">
    <div id="yearly" role="tabpanel" aria-labelledby="yearly-tab" class="tab-pane fade px-4 py-5 show active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Standard</h5> 
                <p class="card-text">₹499</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li>Nudge SMS</li>
                  <li class="list-cross">Auto Dial</li>
                  <li class="list-cross">Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Advanced</h5> 
                <p class="card-text">₹ 2499</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li>Nudge SMS</li>
                  <li>Auto Dial</li>
                  <li>Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Standard</h5> 
                <p class="card-text">₹499</p>
                <h6>(pay as you go)</h6>
                <hr>
                <ul class="details">
                  <li>Virtual Number</li>
                  <li>Calling:0.80 ₹/min</li>
                  <li>SMS Screening</li>
                  <li>Chrome Extension</li>
                  <li>Nudge SMS</li>
                  <li>Auto Dial</li>
                  <li>Schedule Interview</li>
                </ul>
                <hr>
                <p style="padding-top: 0px;">
                  <a class="pricing-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
                    target="_blank">Start Free Trial</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>!-->
</section>

<!--feature section-->
<section class="features">
  <div class="container">
    <h4>All features</h4>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Standard</th>
          <th>Plus</th>
          <th>Advanced</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="heading">Calling & Scheduling</td>
          </tr>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="row-heading">Virtual Number</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Dialer</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Call Recordings</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Chrome Extension</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Auto Dial</td>
                <td></td>
                <td></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Schedule Interview</td>
                <td></td>
                <td></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
            </tbody>
          </table>
          <tr>
            <td class="heading">SMS</td>
          </tr>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="row-heading">SMS Screening</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Nudge SMS</td>
                <td></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
            </tbody>
          </table>
          <tr>
            <tr>
              <td class="heading">AI Insights</td>
            </tr>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="row-heading">Keyword Detection</td>
                  <td></td>
                  <td></td>
                  <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                </tr>
                <tr>
                  <td class="row-heading">Speech analytics</td>
                  <td></td>
                  <td></td>
                  <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                </tr>
              </tbody>
            </table>
            <tr>
            <td class="heading">Billing & Reports</td>
          </tr>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="row-heading">Team Billing</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Daily Call Reports</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
            </tbody>
          </table>
          <tr>
            <td class="heading">Support</td>
          </tr>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="row-heading">Email Support</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Chat Support</td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
              <tr>
                <td class="row-heading">Phone Suport</td>
                <td></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
                <td><img src="assets/images/new-content-images/tick Icon.png"></td>
              </tr>
            </tbody>
          </table>
      </tbody>
    </table>
  </div>
</section>
<!--feature section ends-->


<!-- Faq Section -->
<section class="faq-sec">
  <div class="container">
    <h4>FAQ</h4>
    <div id="accordion-faq">
      <div class="accordion-card">
        <div class="accordion-card-header" id="headingOne"
          data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h5 class="mb-0">
            What will happen after my 7-day trial period is over?
          </h5>
        </div>


        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            You will be prompted to upgrade to paid account and will be billed accordingly.
          </div>
        </div>
      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="headingTwo"
          data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          <h5 class="mb-0">
           How does the billing work ?
          </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </div>

        </div>
      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="headingThree"
          data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          <h5 class="mb-0">
            Do you offer discounts?
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            Yes, we offer discounts for annual payments. Let's discuss it at hello@frejun.com
          </div>
        </div>

      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="heading4"
          data-toggle="collapse" data-target="#collapse4"
          aria-expanded="false" aria-controls="collapse4">
          <h5 class="mb-0">
           Can I upgrade or downgrade my account after free trial?
          </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
          Yes, you can upgrade or downgrade your account. For doing so, contact us at hello@frejun.com
          </div>

        </div>

      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="heading5"
          data-toggle="collapse" data-target="#collapse5"
          aria-expanded="false" aria-controls="collapse5">
          <h5 class="mb-0">
           Is my data safe?
          </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </div>
        </div>
      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="heading6"
          data-toggle="collapse" data-target="#collapse6"
          aria-expanded="false" aria-controls="collapse6">
          <h5 class="mb-0">
           What security measures does frejun take?
          </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </div>
        </div>
      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="heading7"
          data-toggle="collapse" data-target="#collapse7"
          aria-expanded="false" aria-controls="collapse7">
          <h5 class="mb-0">
            Are you compliant with the GDPR?
          </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          </div>
        </div>
      </div>
      <div class="accordion-card">
        <div class="accordion-card-header collapsed" id="heading7"
          data-toggle="collapse" data-target="#collapse7"
          aria-expanded="false" aria-controls="collapse7">
          <h5 class="mb-0">
            What kind of support do you provide?
          </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7"
          data-parent="#accordion-faq">
          <div class="accordion-card-body">
            With a standard FreJunHR account, you’ll have access to email and chat support (available 20 hours a day, 6 days a week, and all year round). We also offer Skype and phone call support for more complex issues that aren’t resolved within the first 12 hours. Our goal is to rectify the problems you’re facing within 48 hours of hearing about them.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Faq Section -->
<app-footer></app-footer>