<app-header></app-header>

<!--banner section-->
<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4>AI & Notes</h4>
        <h3>Quick Interview Notes</h3>
        <p>Copy
          Automate documentation of interview calls and share <br/>them with hiring manager with a single click.</p>
        <p style="padding-top: 0px;">
          <a class="calling-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
            target="_blank">Start Free Trial</a>
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/img5.png" alt="section4 img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of banner-section-->

<!--How it works section-->
<section class="working">
  <div class="container">
    <h4>How It Works?</h4>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">1</div>
          <div class="text-detail">
            <h4>Skills Hilighted Automatically</h4>
            <p>FreJunHR records your interview calls and highlights <br/> keywords based on the candidate's skillsets for easy <br/>evaluation and note-taking.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/ai2.png" alt="point1" id="img1">
        </div>
      </div>
    </div>
    <div class="row" id="row2">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/ai1.png" alt="point1" id="img2">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">2</div>
          <div class="text-detail">
            <h4>Share Interview and Notes</h4>
            <p>Easily share the interview audio and notes with <br/> other team members, hiring managers or clients <br/> with a single click .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--how it works section ends-->

<!--footer-section starts-->
<section class="footer-section">
  <div class="footer-container">
    <p>Simplify your screening and interview process now !</p>
    <button class="btn btn-default" href="#">Start Free Trial</button>
  </div>
</section>
<app-footer></app-footer>
<!--footer-section ends-->