<app-header></app-header>
<div class="product-main">
  <div class="container">
    <div class="product-hero">
      <h1>Automate the interview process for virtual recruitment teams</h1>
      <p>
        Automate your interview process with AI. Improve the candidate
        attendance and quickly shortlist the best ones with automated scheduling
        & calling, personalized messages, & smart interview notes
      </p>
      <div class="prdct-btn-wrap">
        <a href="https://meetings.hubspot.com/kalluri1115/frejunh-demor" target="_black"
          class="prduct-demo-btn">Schedule Free Demo</a>
      </div>
    </div>
  </div>
</div>

<section class="recruitment-section">
  <div class="container">
    <div class="recruitment-content">
      <div class="section-title">
        <h1>
          FreJun<span class="txt-grn">HR</span> helps virtual recruitment teams
          automate the interview process with AI
        </h1>
      </div>

      <ul class="nav nav-pills recruitment-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Automated interview <span>scheduling, calling &
              recording</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">Personalized bulk WhatsApp
            <span>notifications</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
            aria-controls="pills-contact" aria-selected="false">AI interview
            <span>analytics</span></a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade  show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="row align-items-top">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-img-box">
                <img src="../../assets/images/product-3.png" class="img-fluid"
                  alt="automated interview scheduling, calling and recording" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-feature-content">
                <div class="content-inner">
                  <h5>Unlimited interview scheduling, calling & recording</h5>
                  <p>
                    Increase the number of interview calls with unlimited
                    interview scheduling, calling and recording
                  </p>
                </div>

                <div class="content-inner">
                  <h5>Automated interview recording</h5>
                  <p>FreJunHR records you interview calls for easy evaluation, feedback, and note taking.</p>
                </div>

                <div class="content-inner">
                  <h5>Zero fuss implementation</h5>
                  <p>
                    Schedule interviews with a simple calendar invite and let <strong> FreJun<span
                        class="txt-grn">HR</span></strong> call you and the candidate at the
                    scheduled time.
                  </p>
                </div>

                <div class="content-inner">
                  <h5>Schedule and reschedule interviews hasslefree</h5>
                  <p>
                    The candidate or the recruiter cannot make it to the
                    interview? No problem.
                    <span>
                      They can easily reschedule the interview for their
                      preferred time.</span>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="row align-items-top">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-img-box">
                <img src="../../assets/images/product-2.png" class="img-fluid"
                  alt="personalized bulk WhatsApp notifications" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-feature-content">
                <div class="content-inner">
                  <h5>
                    Personalized bulk WhatsApp notifications & auto-dial to candidates
                  </h5>
                  <p>
                    Reach out to shortlisted candidates with personlized WhatsApp messages.
                    Auto-dial the shortlisted candidates with custom questionnaire in the backdrop.
                    Increase candidate engagement and reach out to more candidates.
                  </p>
                </div>

                <div class="content-inner">
                  <h5>Get all your candidate interaction details in one place</h5>
                  <p>
                    Easily access the candidate interaction history with all details present in a single dashboard.
                  </p>
                </div>

                <!-- <div class="content-inner">
                  <h5>Easy Support</h5>
                  <p>Reach out to us via email or call us directly for any feedback, suggestions or questions.
                    <span>We’re committed to providing all FreJunHR users with unparalleled service & support</span></p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row align-items-top">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-img-box">
                <img src="../../assets/images/product-1.png" class="img-fluid" alt="AI interview insights" />
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="recruitment-feature-content">
                <div class="content-inner">
                  <h5>Automated documentation of interview calls with highlighted skillsets</h5>
                  <p>
                    FreJunHR records your interview calls and highlights keywords based on the candidate's skillsets for
                    easy evaluation and note-taking.
                  </p>
                </div>

                <div class="content-inner">
                  <h5>Interview insights with AI</h5>
                  <p>
                    Get speech analytics of the candidate using AI and improve hiring decisions.
                  </p>
                </div>

                <div class="content-inner">
                  <h5>Unlimited exports</h5>
                  <p>
                    Share the interview notes with other team members and hiring
                    managers with a single click
                  </p>
                </div>

                <!-- <div class="content-inner">
                  <h5>Easy Support</h5>
                  <p>Reach out to us via email or call us directly for any feedback, suggestions or questions.
                    <span>We’re committed to providing all FreJunHR users with unparalleled service & support</span></p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="integration-section">
  <div class="container">
    <div class="integrations-inner">
      <div class="section-title">
        <h1>Integrations to help you stay connected</h1>
      </div>

      <div class="row align-items-top">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="integrate-self-block">
            <div class="integrate-ic-block">
              <img src="../../assets/images/google-calendar-icon.png" class="img-fluid" alt="google-calendar" />
            </div>
            <h4>Google Calendar</h4>
            <p>
              Your calendar will automatically be connected to your account.
              Visit your Calendar Connection page to confirm or customize your
              calendar settings.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="integrate-self-block">
            <div class="integrate-ic-block">
              <img src="../../assets/images/Zappier.png" class="img-fluid" alt="Zappier" />
            </div>
            <h4>Zapier</h4>
            <p>
              Combining Zapier and
              <strong> FreJun<span class="txt-grn">HR</span></strong> gives you
              the power to integrate scheduling and fully automate your
              workflow. Use
              <strong> FreJun<span class="txt-grn">HR</span></strong> events as
              triggers for other actions while you complete more important
              tasks.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="agencies">
  <div class="container">
    <div class="agencies-inner">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
          <div class="agencies-title">
            <p>Trusted by some of the leading recruitment agencies</p>
          </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="agencies-logo">
            <ul>
              <li> <img src="../../assets/images/uber.png" class="img-fluid" /> </li>
              <li> <img src="../../assets/images/nike.png" class="img-fluid" /> </li>
              <li> <img src="../../assets/images/infosys.png" class="img-fluid" /> </li>
              <li> <img src="../../assets/images/cognizant.png" class="img-fluid" /> </li>
              <li> <img src="../../assets/images/psg.png" class="img-fluid" /> </li>
              <li> <img src="../../assets/images/ibm.png" class="img-fluid" /> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="use-of-hr">
  <div class="container">
    <div class="section-title">
      <h2>Using FreJun<span class="txt-grn">HR</span> is simple</h2>
    </div>
    <div class="ladder-wrap">
      <div class="row align-items-top">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 ff-wrap">
          <div class="feature-box">
            <img src="../../assets/images/invite.png" alt="invite" class="img-fluid" />
            <div class="feature-content">
              <h3>1. Invite</h3>
              <p>
                Send a calendar invitation to the candidate to schedule the
                interview.
              </p>
            </div>
          </div>

          <div class="feature-box feature-alt">
            <img src="../../assets/images/auto-call.png" alt="auto call" class="img-fluid" />
            <div class="feature-content">
              <h3>2. Auto Call</h3>
              <p>
                Once scheduled,
                <strong> FreJun<span class="txt-grn">HR</span></strong> calls
                the recruiter and the candidate at the scheduled time.
                <strong> FreJun<span class="txt-grn">HR</span></strong>
                automatically connects both the recruiter and the candidates and
                captures the interview call.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 vdo-wrap">
          <div class="video-box">
            <a alt="play-sound" data-toggle="modal" data-target="#videoModal" (click)="pausePlayer()">
              <img src="../../assets/images/video-thumb.jpg" class="img-fluid"
                alt="How FreJunHR works - automate your interview process with FreJunHR" />
              <p>
                <img src="../../assets/images/ic-play.svg" class="img-fluid"
                  alt="How FreJunHR works - automate your interview process with FreJunHR" />
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12 offset-lg-5 offset-md-5 ft-wrap">
          <div class="feature-box third-feature">
            <img src="../../assets/images/record-notes.png" class="img-fluid" alt="record notes" />
            <div class="feature-content">
              <h3>3. Record Notes</h3>
              <p>
                <strong> FreJun<span class="txt-grn">HR</span></strong> records
                the interview calls and generates interview notes with
                highlighted keywords and interview insights.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12 offset-lg-8 offset-md-8 fr-wrap">
          <div class="feature-box fourth-feature">
            <img src="../../assets/images/quick.png" class="img-fluid" alt="quick feedback" />
            <div class="feature-content">
              <h3>4. Quick Feedback</h3>
              <p>
                Recruiters can easily add their feedback & share the notes with
                the hiring managers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Video Modal -->
  <div class="modal fade video-modal" id="videoModal2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" style="cursor: pointer;" aria-label="Close">
          <img src="assets/images/ic-close.svg" alt="close" />
        </button>
        <!-- <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
        aria-label="Close" (click)="cleanSRC()">
        <img src="assets/images/ic-close.svg" alt="">
      </button>
    </div> -->
        <div class="modal-body cbody">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- <video controls=”true”>
              <source src="assets/video/sample.mp4" type=”video/mp4″ />
              </video> -->
            <!-- <video width="320" height="240" controls>
                  <source src="movie.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
                </video> -->
            <!-- <video class="embed-responsive-item" controls>
                    <source src="https://youtu.be/tfplQvPIlzY">
                </video> -->
            <!-- <iframe class="youtube-video" class="ivid" width="700" height="600"
          frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen
          src="https://frejun.hippovideo.io/video/play/ppQYLVsO-utmZ0EC89hEf76B4RYJz_XQlRGDZHde8-8?utm_source=hv-campaigns&hreferer=private&%20Watch%20Video"
          frameborder="0"
          allowfullscreen allow="autoplay; encrypted-media"></iframe> -->
            <iframe width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=tfplQvPIlzY&feature=youtu.be" frameborder="0" allowfullscreen></iframe> -->
            <!-- <iframe class="embed-responsive-item" autoStart="false" autoplay="false" src="assets/video/sample.mp4"  ></iframe> -->
          </div>
        </div>
        <!-- <div class="modal-footer">          
      
    </div> -->
      </div>
    </div>
  </div>
</section>

<section class="footer-meeting fm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Find your perfect candidate before anyone else
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <!-- <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
        <a class="btn mt-3" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor" target="_blank">Schedule free
          demo</a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>