<!-- Home Banner -->
<section class="home-banner">
  <div class="container">
    <h1 style="font-size: 21px;">
      Get automated meeting notes for your <br />remote teams with AI
    </h1>
    <p style="padding-top: 0px;">
      Get actionable insights, summaries, and notes<br />
      for your phone calls and web conference calls such as<br />
      Hangouts and Blue Jeans with FreJun; <br />your team's remote work
      assistant.
    </p>

    <!-- <button class="btn mt-3" type="button" data-toggle="modal" data-target="#signupModal">Get started for free</button> -->
    <a class="btn mt-3" href="https://product.frejun.com/signup" target="_blank"
      >Get notes for free</a
    >
    <p class="Pmargin info mt-3">No credit card required.</p>
  </div>
</section>
<!-- Home Banner -->

<!-- Companies Section -->
<section class="companies-sec">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 mt-3 text-left">
        Some of Our Customers work at
      </div>
      <div class="col-md-9 mt-3">
        <div class="row align-items-center">
          <div class="col">
            <img class="img-fluid" src="assets/images/google.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/uber.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/nike.svg" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/infosys.svg" alt="" />
          </div>
          <!-- <div class="col">
            <img class="img-fluid" src="assets/images/congnizant.png" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/goldman.png" alt="" />
          </div>
          <div class="col">
            <img class="img-fluid" src="assets/images/epsilon.png" alt="" />
          </div> -->
          <div class="col">
            <img class="img-fluid" src="assets/images/ibm.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Companies Section -->

<!-- Video Section -->
<section class="">
  <div class="container">
    <div class="video-sec">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <img
            src="assets/images/video-thumb.jpg"
            alt=""
            class="img-fluid video-thumb"
          />
        </div>
        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vertical-center">
              <a href="https://youtu.be/tfplQvPIlzY" target="_blank">
                <img class="img-fluid" src="assets/images/ic-play.svg" alt="">
              </a>
            <h3>Find out how FreJun <br> can help you</h3>
          </div> -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vertical-center">
          <img
            class="img-fluid"
            src="assets/images/ic-play.svg"
            alt="play-sound"
            data-toggle="modal"
            data-target="#videoModal"
            (click)="pausePlayer()"
          />
          <h3>
            Find out how FreJun <br />
            will help you
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video Section -->

<!-- How It Works Section -->
<section class="how_it_work">
  <div class="container">
    <h2 class="text-center">
      With FreJun, you’ll never look at business meetings and calls the same way
      again.
    </h2>
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6">
        <div class="image_content">
          <img
            class="img-fluid"
            src="assets/images/ic_hiw_01.svg"
            alt="how frejun work"
          />
        </div>
        <div class="text_content">
          <h2>01</h2>
          <h4>Capture the conversations</h4>
          <p>
            Kick off your meeting by sending a calendar invitation to
            <a href="mailto:meetings@frejun.com" class="g-link"
              >meetings@frejun.com</a
            >
            for FreJun to automatically join meetings or call the dial-in number
            to add FreJun to your conversations.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-5 offset-xl-3 offset-lg-2">
        <div class="image_content">
          <img
            class="img-fluid"
            src="assets/images/ic_hiw_02.svg"
            alt="receive a url"
          />
        </div>
        <div class="text_content">
          <h2>02</h2>
          <h4>You receive a unique link</h4>
          <p>
            After the meeting, FreJun will transcribe and extract your action
            items and meeting notes using our proprietary AI technology. You’ll
            receive a unique URL that you can use to access these notes.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-xl-4">
        <div class="side-image">
          <img
            class="img-fluid right-image"
            src="assets/images/meeting-detail.jpg"
            alt="meeting detail"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 col-xl-6">
        <div class="left-side-image">
          <img
            class="img-fluid left-image"
            src="assets/images/jira.jpg"
            alt="jira integration"
          />
        </div>
      </div>
      <div class="col-12 col-lg-8 col-xl-6">
        <div class="image_content">
          <img class="img-fluid" src="assets/images/ic_hiw_03.svg" alt="" />
        </div>
        <div class="text_content">
          <h2>03</h2>
          <h4>Share notes and export to project management tools</h4>
          <p>
            Share the notes with your colleagues, or drag and drop the action
            items into your collaborative tool of choice (such as Jira, Asana,
            Hubspot and more).
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-xl-6">
        <div class="left-side-images">
          <img
            class="img-fluid left-image"
            src="assets/images/jira.jpg"
            alt="jira images"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How It Works Section -->

<!-- daily work life Section -->
<section class="worklife-sec">
  <div class="container">
    <h2>FreJun is a game changer for teams who meet regularly. Here’s why.</h2>
    <div class="row">
      <div
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center work-head-img"
      >
        <img
          class="img-fluid"
          src="assets/images/daily_work_life.svg"
          alt="daily wotk progress"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img
                  class=""
                  src="assets/images/ic-calender.svg"
                  alt="calender"
                />
              </div>
              <div class="work-text">
                <h4>
                  More effective <br />
                  meetings.
                </h4>
                <p>
                  Now that your team isn’t scrambling to take notes, they’ll be
                  able to give their undivided attention to the topics on the
                  agenda.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img class="" src="assets/images/ic-rocket.svg" alt="rocket" />
              </div>
              <div class="work-text">
                <h4>Access to full transcripts and notes.</h4>
                <p>
                  Need to clarify an ambiguous point? Want to follow up on a
                  to-do? FreJun automatically and accurately transcribes all
                  your meetings, and extracts action items, meeting minutes and
                  more. This makes it easy for you to refer to past discussions.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img class="" src="assets/images/ic-ai.svg" alt="" />
              </div>
              <div class="work-text">
                <h4>
                  Harness the <br />
                  power of AI
                </h4>
                <p>
                  Using proprietary AI technology, FreJun frees up your time
                  spent on meaningless tasks such as data entry and
                  consolidation. Now, spend more time on the things that truly
                  matter.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img class="" src="assets/images/ic-share.svg" alt="" />
              </div>
              <div class="work-text">
                <h4>
                  Quick and easy <br />
                  exports.
                </h4>
                <p>
                  We’ve built FreJun such that it integrates with any of your
                  work tools like Jira, Basecamp, and Hubspot easily. If you
                  want to export your meeting data, just drag and drop it to
                  your favorite collaborative tool.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img
                  class=""
                  src="assets/images/ic-tag.svg"
                  alt="tag mangaer"
                />
              </div>
              <div class="work-text">
                <h4>
                  Unlimited <br />
                  meetings
                </h4>
                <p>
                  All FreJun users are able to record and store an unlimited
                  number of meetings. Even if you scale up from 50 to 5,000
                  employees in the next year, you can still use FreJun to
                  support all your recording needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="work-content">
              <div class="work-icon">
                <img
                  class=""
                  src="assets/images/ic-control.svg"
                  alt="control"
                />
              </div>
              <div class="work-text">
                <h4>Built to empower teams and managers</h4>
                <p>
                  FreJun allows individual team members to easily reference
                  meeting data and follow up on action items; we also make it
                  easy for managers to assign to-dos, and keep track of their
                  team’s progress. Talk about the best of both worlds!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn mt-3" type="button" routerLink="features">
      More about features
    </button>
  </div>
</section>
<!-- daily work life Section -->

<!--  client feedback Section -->
<!-- <section class="client-feedback">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
                    <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
                  </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
                <div class="text-content">
                    <h2>Discover our client feedback</h2>
                    <p>With constant customer support, FreJun is always <br>
                      prepared to answer all of your questions. If you are <br>
                      experiencing any issue at all.</p>
                    <h4>Tharun,</h4>
                    <h4>UI / UX Designer</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
                    <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
                  </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
                    <div class="text-content">
                        <h2>Discover our client feedback</h2>
                        <p>With constant customer support, FreJun is always <br>
                          prepared to answer all of your questions. If you are <br>
                          experiencing any issue at all.</p>
                        <h4>Tharun,</h4>
                        <h4>UI / UX Designer</h4>
                    </div>
                  </div>

            </div>
          </div>
          <div class="carousel-item">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-2">
                      <img class="img-fluid" src="assets/images/testimonial.svg" alt="">
                    </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 order-md-1">
                      <div class="text-content">
                          <h2>Discover our client feedback</h2>
                          <p>With constant customer support, FreJun is always <br>
                            prepared to answer all of your questions. If you are <br>
                            experiencing any issue at all.</p>
                          <h4>Tharun,</h4>
                          <h4>UI / UX Designer</h4>
                      </div>
                    </div>

              </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
      </div>
    </div>
  </section> -->
<!--  client feedback Section -->

<!-- footer meeting section -->
<section class="footer-meeting">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <h2>
          Let FreJun capture the important parts of your business interactions
          automatically!
        </h2>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <!-- <button
          class="btn mt-3"
          type="button"
          data-toggle="modal"
          data-target="#signupModal">
          Get started for free
        </button> -->
        <a
          class="btn mt-3"
          href="https://product.frejun.com/signup"
          target="_blank"
          >Get started for free</a
        >
      </div>
    </div>
  </div>
</section>
<!-- footer meeting section -->
