<app-header></app-header>

<!--banner section-->
<section class="banner-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <h4>Calling</h4>
        <h3>Easy Calling & Recording</h3>
        <p>Call canadidates in few clicks using Click to call or Autodial.<br/> FreJun automatically records saves all Interviews which you <br/> can use for your review.</p>
        <p style="padding-top: 0px;">
          <a class="calling-button" href="https://meetings.hubspot.com/kalluri1115/frejunh-demor"
            target="_blank">Start Free Trial</a>
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/section4.png" alt="section4 img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--end of banner-section-->

<!--How it works section-->
<section class="working">
  <div class="container">
    <h4>How It Works?</h4>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">1</div>
          <div class="text-detail">
            <h4>Call Using Autodial</h4>
            <p>No more manual dialing.Autodial multiple<br/>candidates with just few clicks</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/working.png" alt="point1">
        </div>
      </div>
    </div>
    <div class="row" id="row2">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/point2.png" alt="point1">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">2</div>
          <div class="text-detail">
            <h4>Call Using Dialer</h4>
            <p>Dial candidate number and call them using dialer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row3">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="text-container">
          <div class="circle">3</div>
          <div class="text-detail">
            <h4>Click to Call</h4>
            <p>Click to call any Indian number while browsing on the web using Frejun chrome extension</p>
            <p>
              <a href="#" class="extension-link">Download Extension</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/new-content-images/point3.png" alt="point1" id="img3">
        </div>
      </div>
    </div>
  </div>
</section>
<!--how it works section ends-->
<!--footer-section starts-->
<section class="footer-section">
  <div class="footer-container">
    <p>Simplify your screening and interview process now !</p>
    <button class="btn btn-default" href="#">Start Free Trial</button>
  </div>
</section>
<app-footer></app-footer>
<!--footer-section ends-->