<!-- terms and policies -->
<section class="policy-p">
  <div class="container">
    <div class="policy_p_heading">
      <h1>FreJunHR’s Privacy Policy</h1>
      <h2>PRIVACY POLICY</h2>
    </div>

    <div class="row">
      <div class="col-md-3 policy-part">
        <ul>
          <li><a routerLink="/terms">User Terms of Service</a></li>
          <li><a routerLink="/privacy" class="active">Privacy Policy</a></li>
          <li><a routerLink="/agree">End User License Agreement</a></li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="privacy_p_title">
          <h3>Please Read This Policy Carefully</h3>
          <p>We, Frejun Inc(“we”, “us”, “our”), are the owners of software as a
            service offered under
            the brand FrejunHR(collectively referred to as the “Services” or
            “Software” as the context
            may require).</p>
          <P>We respect data privacy rights and are committed to
            protectingpersonal information collected
            by or through use of the Services and/ or our website by You. This
            privacy policy (“Privacy
            Policy” or “Policy”) sets forth <u>how we use and protect such
              personal information collected on
              our website and/ or collected by use of or access to the Software.</u></P>
          <span>1. <u>What Qualifies as Personal Information</u></span>
          <p>For the purposes of this Privacy Policy, any information (such as name, email id, company name, phone
            number, location, IP address, calendar access etc.) provided by you, or persons you invite to use the
            Software (“Participants”), or collected by us, as a result of your use / access of the website and/ or
            Services, that can identify you as a person shall be referred to as “Personal Information”.
          </p>
          <p>You understand that our Software records the interview that you have using the Software / Service
            (“Conversation”). The recording of the Conversation is then used to generate notes using artificial
            intelligence technology and/ or human intervention (at our discretion), to be presented in the form of
            interview notes which is shared with the participants of Conversation.</p>
          <p>For the sake of convenience and for the purposes of this Policy we shall also consider the information
            disclosed by you and the Participants, during the Conversation as Personal Information.</p>
          <span>2. <u>Applicability of GDPR</u></span>
          <p>Residents of the European Union (“EU”)should note that this Privacy Policy has been created in accordance
            with the requirements of the EU General Data Protection Regulation (the “GDPR”). As per the provisions of
            the GDPR we shall be considered the Controllers of the Personal information collected as a result of your
            use / access of the Services.For non-EU residents, by continuing to use or access the Services, you agree to
            this Privacy Policy. If you do not agree to this Privacy Policy, you may not use or access the Services.
          </p>
          <span>3. <u>What Personal/ Non-Personal Information do we Collect?</u></span>
          <p>When you get in touch with us through the ‘contact us’ section, subscribe to our newsletter or blog, or the
            customer support functionality on our website and / or Software, you would need to provide us with Personal
            Information such as your name, and e-mail address, designation and organization. When you create an account
            for using our Services we collect your email address, complete name, payment card details, calendar(Google
            Calendar, Outlook Calendar and other calendars), contacts and IP address. When you use the Software we
            collect your voice recordings, participants voice recordings, third party login credentials for the
            integrations and participant’s email addresses.We may also collect Personal Information when you use/ access
            our Services.</p>
          <p><small>Google Analytics- </small>Our website uses Google Analytics,
            a web analytics service
            provided by Google Inc. (“Google”). Google Analytics uses cookies,
            text files that are stored
            on your computer and enable analysis of your use of the website. The
            information generated by
            the cookies about your use of our website are usually transferred to
            a server of Google in the
            US and stored there. In case of activation of IP anonymization on
            our website,your IP address
            from Google will be truncated within Member States of the European
            Union or other parties to
            the Agreement on the European Economic Area. Only in exceptional
            cases is the full IP address
            is transmitted to a Google server in the US and shortened there. You
            can refuse the use of cookies
            by selecting the appropriate settings on your browser software. You
            can also prevent the data
            generated by the cookie and related to your use of the Servicesto
            Google and the processing of
            these data by Google, by clicking the following link <a href="https://tools.google.com/dlpage/gaoptout"
              class="g-link" target="_blank">https://tools.google.com/dlpage/gaoptout</a>,
            choosing the available browser plug-in and installing it.</p>
          <p><small>Website/Application and Social media accounts- </small>We
            may also collect, store and
            use your Personal Information when you (1) access our social
            networking handles operated by us on
            Facebook, Twitter, Instagram and/or LinkedIn (2) share our blogs
            through facebook, twitter, google
            or pintrest (3) comment/ provide feedback/testimonials on such
            social networking handlesand (4)
            when you use your google or social media credentials to create an
            account or register for our Services.</p>
          <span>Cookies-</span>
          <p>Weuse cookies and similar tracking technologies to track user
            traffic patterns and hold certain
            registration information. Tracking technologies also used are
            beacons, tags and scripts to collect
            and track information and to improve and analyze our service. If you
            wish to not have the information
            these technologies collect used for the purpose of serving you
            targeted ads the Help menu on the menu
            bar of most browsers will tell you how to prevent your browser from
            accepting new cookies, how to
            disable cookies altogether etc. </p>
          <span>We use cookies to:</span>
          <div class="privacy_sub_content">
            <p>• improve the product</p>
            <p>• improve the user experience on the website</p>
            <p>• understand the usage based on the geographical area</p>
            <p>• understand the usage based on the demographics</p>
            <p>• understand and get usage patterns of the users</p>
          </div>
          <p><small>Examples of Cookies We Use: </small>Session cookies, First
            party cookies, Third Party
            cookies, Secure Cookies, HTTP-only cookies, Flash cookies, Zombie
            cookies.</p>
          <span>The cookies will collect following information:</span>
          <div class="privacy_sub_content">
            <p>• Location, IP address, First name, Last name of the user;</p>
            <p>• User sessions;</p>
            <p>• Clicks and scroll on the website;</p>
            <p>• User’s operating system, browser information, CPU, GPU; and</p>
            <p>• Information of Service Provider.</p>
          </div>
          <span>Will disabling the cookies allow users to use the website?
          </span>
          <p>We will not restrict the usage of the Software, Services or the
            Website if the cookies are disabled. </p>
          <span>4. <u>Accuracy of information.</u></span>
          <p>Please make sure
            that any Personal Information you
            share with us is accurate and upto date. If you are sharingany
            Personal Information on behalf of a
            third person, you should ensure that you are authorized to do so.
          </p>
          <span>5. <u>What do we do With Your Personal Information?</u></span>
          <p>We use the Personal Information for the following purposes:</p>
          <div class="privacy_sub_content">
            <p>(i) to provide you information about our offerings;</p>
            <p>(ii) to provide and maintain the Services;</p>
            <p>(iii) if we engage in a business relationship, we may use the
              Personal Information to provide you
              our offerings and to assist you in the event you need any
              additional support;</p>
            <p>(iv) for creation or development of business intelligence or data
              analytics in
              relation to our Services and/ or the offerings provided by us;</p>
            <p>(v) to assess queries, requirements, and process requests for
              products and Services;</p>
            <p>(vi) for client communication, billing and administration;</p>
            <p>(vii) to improve usability of the Services and for maintenance of
              Software;</p>
            <p>(viii) to process job applications (if you apply for a position
              with our organization);</p>
            <p>(ix) to prevent fraud and abuse;</p>
            <p>(x) to enhance the security of the Services;</p>
            <p>(xi) to ensure that content from the Services is presented in the
              most effective manner for you;</p>
            <p>(xii) to measure or understand the effectiveness of advertising
              we serve to you and others,
              and to deliver relevant advertising to you;</p>
            <p>(xiii) to maintain leads;</p>
            <p>(xiv) to run marketing or promotional campaigns;</p>
            <p>(xv) to create brand awareness;</p>
            <p>(xvi) to improve our offerings; </p>
            <p>(xvii) to provide you information that we may believe may be of
              your interest; </p>
            <p>(xviii) for internal record keeping; and </p>
            <p>(xix) to comply with our legal or statutory obligations. </p>
          </div>
          <p>We also collect and store meeting Participant information to fulfil
            our obligation to our customers
            and provide the Services. </p>
          <p>If you wish to cancel your account or for us to stop providing you
            Services, or if we hold personal
            Information about you and you want it to be removed from our
            database or inactivated, please contact
            us at <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>.</p>
          <p><small><u>Legal Basis (for EU residents):</u></small> We will not
            process your Personal Information
            without a lawful basis to do so.We will process your Personal
            Information only on the legal bases of
            consent[as provided in Art. 6 (1) (a) of the GDPR], contract [as
            provided in Art. 6 (1) (b) of
            the GDPR], or on the basis of our legitimate interests [as provided
            in Art. 6 (1) (f) of the GDPR],
            provided that such interests are not overridden by your privacy
            rights and interests. </p>
          <span>6. <u>Whom do we Disclose Your Data to?</u></span>
          <p>We do not sell, rent, share, distribute, lease or otherwise provide
            your Personal Information to
            third parties, without your prior consent. Keeping this in mind, we
            may disclose your Personal
            Information in the following cases:</p>
          <div class="privacy_sub_content">
            <p>• <small><u>Service Providers:</u></small> We may share your
              Personal Information with the service
              providerswho work with us in connection with operating and
              maintaining the Services and/ or providing
              the Offerings. </p>
            <p>• <small><u>Merger or Acquisition:</u></small> We may transfer
              your Personal Information if
              we are acquired by another entity, or if we merge with another
              company or transfer a part of our
              business, including the Services, to a third party. Any such third
              party or resultant entity that
              receives your Personal Information shall have the right to
              continue to use your Personal Information
              in line with the purposes set out herein.</p>
            <p>• <small><u>Legal and Regulatory Authorities:</u></small> We may
              disclose your Personal Information
              in order to comply with our legal obligations/ court orders/
              requests by Government authorities. </p>
            <p>• <small><u>Participants:</u></small> the details and contents of
              the Conversation are shared
              with the Participants.</p>
          </div>
          <span>7. <u>Transfer of Your Personal Information Across Borders (for
              EU Residents)</u></span>
          <p>The Personal Information we collect (of EU residents) might be
            processed outside the EU and at secure
            centres atUS and India. We collect and transfer Personal Information
            outside the EU in accordance
            with the provisions of the GDPR. If you have questions, please
            contact us as at <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>.</p>
          <span>8. <u>How Long do we Retain Your Personal Information?</u></span>
          <p>8.1 We endeavour to only collect only such Personal Information
            that is necessary for the purposes
            indicated here, and to retain such data for no longer than is
            necessary for such purposes. The length
            of time Personal Information is retained, and criteria for
            determining that time, are dependent on the
            nature of the Personal Information and the purpose for which it was
            provided/ collected. </p>
          <p>8.2 Subject to this section, we will try to delete your Personal
            Information upon reasonable written
            request for the same. Please note, however, that there might be
            latency in deleting Personal Information
            from our servers and backed-up versions might exist even after
            deletion. For more information on where
            and how long your personal data is stored, and for more information
            on your rights of erasure and
            portability, please contact <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>.</p>
          <span>9. <u>Our Security Measures</u></span>
          <p>We store your Personal Information on our internal servers,
            computer systems and workstations, located
            in India and the USand this information is accessible to our
            personnel across all our offices. Although
            we provide appropriate firewalls and protections, we cannot warrant
            the security of any Personal
            Information transmitted as these systems are not hack proof. Data
            pilferage due to unauthorized hacking,
            virus attacks, technical issues is possible, and we assume no
            liability or responsibility for it. You
            are required to be careful to avoid “phishing” scams, where someone
            may send you an e-mail that looks
            like it is from us asking for your Personal Information. </p>
          <span>10. <u>Your Rights (For EU Residents)</u></span>
          <p>You have the right to request us to let you know what Personal
            Information belonging to you do we hold
            in our possession, right to have us rectify or modify any such
            Personal Information, right to have us
            erase/delete your Personal Information, right to restrict us from
            processing such Personal Information,
            right to object to our use of your Personal Information. If you
            would like to exercise ANY of these
            rights, please contact <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>.</p>
          <span>11. <u>Links to Other Websites</u></span>
          <p>Our Services may contain links to other websites/applications.
            Unless the third-partywebsites/
            applications are owned by us, we do not have any control over
            them,and you will be accessing them
            at your own risk. Therefore, we cannot be responsible for the
            protection and privacy of any information
            which you provide whilst visiting such websites/applications. You
            should exercise caution and look at
            the privacy policy applicable to such websites/applications.</p>
          <span>12. <u>Limitation of Liability</u></span>
          <p>To the extent permissible under the law, we shall not be liable for
            any direct, indirect, incidental,
            special, consequential or exemplary damages, including but not
            limited to, damages for loss of
            profits, goodwill, data, information, or other intangible losses
            (even ifwe have been advised of
            the possibility of such damages), arising out of this Privacy
            Policy. </p>
          <span>13. <u>Governing Laws and Disputes</u></span>
          <p>This Privacy Policy shall be construed and governed by the laws of
            Nebraska, US without regard to
            principles of conflict of laws. The courts at Lake city shall have
            exclusive jurisdiction to decide
            any dispute arising out of or as a result of this Policy.</p>
          <p>For any EU residents, this Privacy Policy shall be governed by the
            provisions of the GDPR.</p>
          <span>14. <u>Changes to This Policy</u></span>
          <p>We may update this Privacy Policy from time to time. You are encouraged to check this Privacy Policy on a
            regular basis to be aware of the changes made to it.
            This Privacy Policy was last modified in June 2020.
          </p>
          <span>15. <u>Contact Us</u></span>
          <p>If you have any questions or concerns or grievances regarding this
            Privacy Policy, you can email us
            at <a href="mailto:hello@FreJun.com" class="g-link">hello@frejun.com</a>.</p>
        </div>
        <div class="agree">
          <a routerLink="/">I AGREE</a>
        </div>
      </div>

    </div>
  </div>
</section>