<!-- footer -->
<footer>
  <div class="container">
    <div class="row logo-footer">
      <div class="col-12">
        <a class="navbar-brand" routerLink="">
          <img src="assets/images/logo-footer.png" onclick="window.scrollTo({top:
            0,left:0,behavior:'smooth'})" alt="logo" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>
          FreJun Inc. <br />
          12345 Lake City Way NE #2114 <br />
          Seattle WA 98125 <br />
          Phone: +1-619-786-5468 <br />
          Email: <a href="mailto:hello@frejun.com">hello@frejun.com</a>
        </p>
      </div>
      <div class="col-md-6 footer-nav">
        <div class="row">
          <div class="col-md-4">
            <h4>Company</h4>
            <ul>
              <li>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="product">Product</a>
              </li>
              <li>
                <a routerLink="/pricing/">Terms and conditions</a>
              </li>
              <li>
                <a routerLink="privacy">Privacy Policy</a>
              </li>
              <!-- <li>
                <a routerLink="/pricing/">Pricing</a>
              </li>
              <li>
                <a href="https://product.frejun.com/signup" target="_blank">Signup</a>
              </li> -->
              <!-- <li>
                <a href="https://product.frejun.com/login" target="_blank"
                  >Login</a
                >
              </li>
              <li>
                <a
                  href="https://frejunhelp.crisp.help/en/category/how-to-use-frejun-1fvwtnp/"
                  target="_blank"
                  >Product Resources</a
                >
              </li> -->
            </ul>
          </div>
          <div class="col-md-5">
            <h4>Products</h4>
            <ul>
              <!-- <li>
                <a href="https://www.frejun.com/blog/" target="_blank">Blog</a>
              </li> -->
              <li>
                <a routerLink="#">Candidate Screening</a>
              </li>
              <li>
                <a routerLink="#">Candidate Interview</a>
              </li>
              <li>
                <a routerLink="#">Schedule Interview</a>
              </li>
              <li>
                <a routerLink="#">Frejun Chrome Extension</a>
              </li>
              <!-- <li>
                <a href="https://www.frejun.com/blog/" target="_blank">Blog</a>
              </li>
              <li>
                <a routerLink="/faq/">FAQs</a>
              </li>
              <li>
                <a href="https://product.frejun.com/signup" target="_blank"
                  >Signup</a
                >
              </li>
              <li>
                <a href="https://frejunhelp.crisp.help/en/" target="_blank"
                  >Support</a
                >
              </li> -->
            </ul>
          </div>
          <div class="col-md-5">
            <ul>
              <!-- <li>
                <a routerLink="/pricing/">Pricing</a>
              </li>
              <li>
                <a routerLink="/write-for-us/">Write for us</a>
              </li>
              <li>
                <a routerLink="terms">Terms & Policies</a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <p>
          Built for recruiters to simplify <br/>screening and interviewing.
        </p>
      </div>
    </div>

    <div class="row copyright">
      <div class="col-12 col-md-6">
        <span>Follow us on</span>
        <ul class="social-icon">
          <li>
            <a href="https://twitter.com/getmeetingnotes" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <!-- <li>
          <a href="https://m.facebook.com/FreJunapp" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </li> -->
          <li>
            <a href="https://www.linkedin.com/company/frejun-inc" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <p>Copyright 2020. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->

<!-- Return to Top start -->
<a href="javascript:" id="return-to-top" (click)="scroll()"><i class="fas fa-arrow-up"></i></a>
<!-- Return to Top start end -->