<!-- terms and policies -->
<section class="policy">
  <div class="container">
    <div class="policy_heading">
      <h1>FreJunHR’s Terms & Conditions</h1>
      <h2>Software Subscription Agreement</h2>
    </div>

    <div class="row">
      <div class="col-md-3 terms-part">
        <ul>
          <li><a routerLink="/terms" class="active">User Terms of Service</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
          <li><a routerLink="/agree">End User License Agreement</a></li>
        </ul>
      </div>

      <div class="col-md-9">
        <div class="privacy-title">
          <h3>Software Subscription Agreement</h3>
          <p>This Software Subscription Agreement (“<strong>Agreement</strong>”) is made by and between
            FreJunInc(“<strong>FreJunHR</strong>”),
            a Delaware corporation, having its place of business at 2-5-65, GantaVari Street, Gandhi Nagar, Tenali,
            Guntur Dist-522201, AP, Indiaandyou, (either in your individual capacity or in the capacity of an
            authorized signatory of your organization) the Subscriber to the Services of
            FreJunHR,(“<strong>Subscribe</strong>r” or
            “<strong>you</strong>”); each a “<strong>Party</strong>” and collectively the “<strong>Parties</strong>”.
          </p>

          <p>BY CLICKING/CHECKING THE "I AGREE" BUTTON/BOX AND BY UTILIZING THE FREJUNHR SUBCRIPTION SERVICES THE
            SUBSCRIBER AGREES TO BE BOUND BY THESE TERMS AND CONDITIONS. THE FREJUNHR SERVICES ARE NOT AVAILABLE TO
            PERSONS WHO ARE NOT LEGALLY ELIGIBLE TO BE BOUND BY THESE TERMS OF SERVICE.</p>

          <p>Therefore, in consideration of the mutual covenants and promises contained herein and other good
            and valuable consideration, the Parties agree as follows:</p>

          <span>1. Definitions.</span>
          <div class="def_sub_content">
            <p>Capitalized terms used in this Agreement shall have the meaning assigned to them as set forth below.</p>
            <p>1.1. “<strong>Documentation</strong>” means the user documentation delivered to the Subscriber from
              FreJunHR’s website or
              otherwise provided by FreJunHR as part of the Software download package. </p>
            <p>1.2. “<strong>End User</strong>” means a host or participant who uses the Services.</p>
            <p>1.3. “<strong>Intellectual Property Rights</strong>” means any intellectual property rights, including
              patents, utility
              models, rights in designs, copyrights, moral rights, database rights, trademarks, service marks, trade
              secrets, and rights of confidence, in all cases whether ornot registered or registerable in any country,
              and including the right to apply for the same and all rights and forms of protection of a similar
              nature or having equivalent or similar effect to any of these anywhere in the world from time to
              time.</p>
            <p>1.4. “<strong>Software</strong>” means the binary-code version of the FreJunHR software described in
              Exhibit
              A, which
              enables the Subscriber and its End Users, to use the Services.The Softwareis a collaborative tool
              intended to make meetings easierbetween Subscriber and/ or its End User and their colleagues,
              customers or third parties.</p>
            <p>1.5. “<strong>Services</strong>” means the Services provided during the Subscription Term by FreJunHR to
              Subscriber and
              its End Users (by or through use of the Software) as more particularly describedin Exhibit A. FreJunHR
              may, in its sole discretion, modify the features of the Services from time to time without prior
              notice.</p>
            <p>1.6. “<strong>Subscription Fees</strong>” or “<strong>Fees</strong>” shall mean the fees payable by the
              Subscriber for the Services.</p>
            <p>1.7. “<strong>Subscription Term</strong>” means that period of time during which Subscriber may use the
              Services and
              the Software as opted for by the Subscriber on FreJunHR’s website. This period is renewed automatically
              unless terminated in accordance with the terms of this Agreement.</p>
            <p>1.8. “<strong>Support Services</strong>” means FreJunHR’s standard maintenance and support services for
              the
              Software
              which are provided to Subscriber during the Subscription Term at no additional cost </p>
            <p>1.9. “<strong>Update</strong>” means a release of Software or patch thereto which may include a minor
              release or an error fix or contains an improvement or new functionality.</p>
          </div>
          <span>2. Software License and Restrictions.</span>
          <div class="def_sub_content">
            <p>2.1. <strong>Software License</strong>. FreJunHR hereby grants to the Subscriber during the Subscription
              Term,
              non-exclusive, non-transferable, revocable, worldwide, limited license to use and access
              the Software and the Services for the Subscriber’s use only and in accordance with the terms
              and conditions of this Agreement. The grant of license to use and access the Software and/or
              Services shall be restricted to permitted users only and must be in accordance with the terms
              and conditions of this Agreement. </p>
            <p>2.2. <strong>Restrictions.</strong></p>
            <p>Except as expressly set forth in this Agreement,the Subscriber shall not, directly
              or indirectly</p>
            <div class="sub_parts">
              <p>(a) sublicense, resell,lend, lease, distribute or otherwise transfer rights or usage
                in the Software and/ or Services</p>
              <p>(b) provide the Software and/ or Services on a timesharing, service
                bureau, hosted, service provider or other similar basis</p>
              <p>(c) remove or alter any copyright, trademark
                or proprietary notice in or on the Software </p>
              <p>(d) study the Software and/ or Servicesfor the purposes
                of developing a product or service which is similar or competitive </p>
              <p>(e) modify, translate or create
                any derivative works or services based on the Software or Service </p>
              <p>(f) disclose, publish or otherwise
                make publicly available any benchmark, performance or comparison tests that Subscriber directly or
                indirectly runs (or has run) on the Software</p>
              <p>(g) reverse engineer, decompile, disassemble, or
                otherwise attempt to reconstruct the source code of the Software.</p>
            </div>
          </div>
          <span>3. Proprietary Rights.</span>
          <div class="def_sub_content">
            <p>3.1. <strong>Intellectual Property</strong>. Any and all rights in andtotheServices, Software,
              Documentation, enhancementand
              branding thereof including title, ownership rights and Intellectual Property Rightsis the sole and
              exclusive
              property of FreJunHR. This Agreement does not grant the Subscriber any right, title and interest in and to
              the
              Software, Documentation, or Services other than the right to use them as expressly stated in this
              Agreement.
              From time to time, the Subscriber may provide feedback, suggestions, requirements or recommendations
              (“<strong>Feedback</strong>”) regarding the Software or the Services. The Subscriber hereby assigns to
              FreJunHR all right,
              title and interest to such Feedback and provides to FreJunHR an exclusive, perpetual, irrevocable and
              worldwide right to create any developments based on such Feedback. </p>
          </div>
          <span>4. System Requirements. <small>Accessing and use of the Software and Services would require the End
              Users
              to download an app or receiving an invite from an authorized source and/ or use one or more compatible
              devices, internet services and certain software(as may be stated in the Documentation and/ or on
              FreJunHR’s
              website) and may require obtaining updates or upgrades of the Software from time to time. Because the
              access and use of the Software and Services involve hardware, software, and Internet access, the
              Subscriber’s ability to access and use of the Services may be affected by the performance of these
              factors</small></span>
          <span>5. Fees and Payment.</span>
          <div class="def_sub_content">
            <p>5.1. In consideration of the Services provided under this Agreement by FreJunHR, Subscriber agrees to
              pay the Subscription Fees in the amount and for the Subscription Term.</p>
            <p>5.2. FreJunHR would charge the Subscriber through the payment mechanism selected byFreJunthe
              Subscription Fees due and payable to FreJunHR by the Subscriber.</p>
            <p>5.3. All Subscription Fees and charges would be exclusive of taxes which shall be borne by the
              Subscriber.</p>
            <p>5.4. The Fees shall be paid to FreJunHR within 15 days after their due date.</p>
            <p>5.5. In the event of non-payment of the Subscription Fees-</p>
            <div class="sub_parts">
              <p>5.5.1. FreJunHR may at its discretion suspend the Subscriber’s use and access to the Services and
                Subscriber’s other rights under this Agreement and intimate the Subscriber about the same. The
                Subscriber may at its option, choose to have itsrights under this Agreement, including the right to use
                and access the Services reinstated, however, the Subscriber will need to pay in full, the sums due
                from the time prior to the suspension till the lifting of the suspension (date of payment), as if
                the Subscription Term had continued. Or</p>
              <p>5.5.2. FreJunHR may at its discretion choose to terminate the Subscriber’s subscription, in which
                case, FreJunHR shall notify you about the same in writing.</p>
              <p>5.5.3. In the event of termination of the Subscriber’s subscription, FreJunHR reserves its right to
                delete
                all the End User’scontent in FreJunHR’s possession and control, at FreJunHR’s sole discretion.</p>
            </div>
          </div>
          <span>6. Reporting.</span>
          <p>The Software transmits, aggregated data regarding product usage of the Software
            and Services to FreJunHR for the purposes of tracking any excessive usage and for enhancing and improving
            Software and Services. If the Subscriber has more End Users than the Subscriber has purchased accounts
            for, the Subscriber shall immediately pay the applicable Subscription Fees for such additional End Users
            (it shall be deemed that such unreported End Users have had access during the full Subscription Term).</p>

          <span>7. Audit Rights.</span>
          <p>FreJunHR shall have the right to audit the Subscriber’s use of the Services
            during regular business hours and upon 5 day’s prior notice in order to verify that the Services
            are being used in compliance with this Agreement. If the audit reveals the Subscriber has more
            End Users than the Subscriber has purchased accounts for, the Subscriber shall immediately pay
            the applicable Subscription Fees for such additional End Users (it shall be deemed that such unreported
            End Users have had access during the full Subscription Term) and if the audit reveals a discrepancy
            of 5% or more, the Subscriber shall pay the cost of the audit to FrejunHR.</p>


          <span>8. Confidentiality.</span>
          <div class="def_sub_content">
            <p>8.1. “<strong>Confidential Information</strong>” shall mean information disclosed by one Party
              (“<strong>Disclosing Party</strong>”) to
              the other (“<strong>Recipient</strong>”) and which includes, without limitation documentation,
              enhancement, financial,
              business, technical and marketing information, business plans, methods, processes, inventions, techniques,
              designs, data, know-how, ideas,concepts, strategies, trade secrets, and such other information.
              Confidential Information does not include information which: (a) is in the public domain; (b) was
              known to the Recipient or becomes known to the Recipient without breach of any confidentiality agreement;
              (c) is independently developed by the Recipient without violating any confidentiality obligations
              stated herein; (d) is disclosed by the Recipient pursuant judicial order or requirement of the
              governmental
              agency or by operation of law, provided however, the Recipient shall provide the Disclosing Party
              sufficient notice of such required disclosure in order to enable the Disclosing Party to obtain a
              protective order against the disclosure.</p>
            <p>8.2. The Recipient shall only use the Confidential Information for the purpose it is disclosed for.
              Furthermore, the Recipient shall keep Confidential Information and data received from the Disclosing
              Party in strict confidence and shall not disclose it to any third parties except to a limited group of
              Recipient’s directors, officers, agents, authorized representatives on a need-to-know basis.</p>
            <p>8.3. Upon request by the Disclosing Party or earlier termination of this Agreement, the Recipient shall
              immediately returnto the Disclosing Party, all Confidential Information disclosed by the Disclosing Party
              and all copies thereof. All such information shall be and shall remain the sole property of the Disclosing
              Party.</p>
            <p>8.4. The Recipient agrees that any violation of the confidentiality obligations will cause irreparable
              injury to the Disclosing Party, entitling the Disclosing Party to obtain injunctive relief in addition
              to all legal remedies.</p>
            <p>8.5. The obligations under this Section shall survive for the period of this Agreement and 5 years
              thereafter.</p>
          </div>
          <span>9. Warranties.</span>
          <div class="def_sub_content">
            <p>9.1. FreJunHR warrants for the sole benefit of Subscriber that during the applicable Subscription Term,
              the Software and Services would perform substantially in conformance with the Documentation and according
              to the terms of this Agreement.The foregoing warrantydoes not imply that the Software or the Services
              will be error free or without any bugs. Moreover, the foregoing warranties shall not apply to any error
              or failure resulting from: (i) Machine error; (ii) Subscriber’s or the End User’s failure to follow any
              reasonable instructions of FreJunHR; (iii) Subscriberor the End Userhaving used the Software outside the
              terms and conditions of this Agreement or its intended purpose; (iv)Subscriber’sor the End
              User’snegligence
              or error; or (v) modification of the Software by anyone other than FreJunHR.</p>
            <p>9.2. <strong>Exclusive Remedies</strong>. In the event of a breach of aforesaid warranties, </p>
            <div class="sub_parts">
              <p>9.2.1. The Subscriber’s sole remedy shall be (i) either to avail the fixes at FreJunHR’s option or
                (ii) to terminate the Services in accordance with the terms of this Agreement</p>
              <p>9.2.2. FreJunHR’s entire liability upon receipt of proof of errors in the Software shall be to provide
                Fixes.</p>
            </div>
          </div>
          <span>10. Disclaimer of Warranties.
          </span>
          <p>
            Except for the limited warranties set out herein, the software and
            the services are provided “as is” without any representations, conditions, warranties or covenants
            whatsoever, including without limitation, any express, statutory or implied representations, warranties or
            conditions of merchantability, satisfactory quality or fitness for a particular purpose, non-infringement
            of third party intellectual property, or arising otherwise in law or equity or covenant based on a course
            of dealing or usage of trade, all of which are expressly disclaimed and excluded. FrejunHR does not
            warrant that the functions contained in the software and the services will meet subscriber’s or the end
            user’s requirements, that the operation of the software and the services will be uninterrupted or
            error-free or that the software or services will operate in combination with any hardware, software,
            systems or data not provided by FreJunHR. The subscriber acknowledges that FreJunHR does not control the
            transfer of data over communications facilities, including the internet, and that the services may be
            subject to limitations, delays, and other problems inherent in the use of such communications
            facilities.
          </p>
          <span>11. Responsibility for End Users.</span>
          <p>The Subscriber is responsible for the activities of all End
            Users who access or use the Services through the Subscriber’s account and the Subscriber agrees to ensure
            that any such End User will comply with the terms of this Agreement and any applicable FreJunHR policies.
            FreJunHR assumes no responsibility or liability for violations. If the Subscriber becomes aware of any
            violation of this Agreement in connection with use of the Services by any person, please contact support
            <a href="mailto:hello@FreJun.com" class="g-link">hello@FreJun.com</a>.</p>
          <span>12. Term and Termination.</span>
          <div class="def_sub_content">
            <p>12.1. The term of this Agreement shall commence from the beginning of the
              Subscription Terms And shall continue in force until terminated in accordance with this Agreement.</p>
            <p style="font-weight: bold">12.2. Termination for convenience </p>
            <div class="sub_parts">
              <p>12.2.1. FreJunHR may terminate this Agreement without cause by providing the Subscriber 15days prior
                written notice.</p>
              <p>12.2.2. If at any time the Subscriber is not happy with the Services, the sole remedy is to cease using
                the Services and follow the termination process.</p>
              <p>12.2.3. FreJunHR’s website contains information on how the Subscriber may terminate its account and
                thus,
                terminate this Agreement. </p>
              <p>12.2.4. If the Subscriber has purchased a subscription for Services for a specific term, such
                termination will be effective on the last day of the then-current term. </p>
            </div>

            <p style="font-weight: bold">12.3. Termination for cause </p>
            <div class="sub_parts">
              <p>12.3.1. If either Party is in default of any material provision of this Agreement and such default is
                not corrected within 30 days of receipt of written notice, the other Party shall have the right to
                terminate this Agreement by providing written notice to the Party in breach. Either Party shall have
                the right to immediately terminate this Agreement in writing if the other Party (a) voluntarily or
                involuntarily becomes the subject of a petition in bankruptcy or of any proceeding relating to
                insolvency,
                receivership, liquidation, or composition for the benefit of creditors which is not dismissed within 120
                days or (b) admits in writing its inability to pay its debts as they become due.</p>
              <p>12.3.2. If the Subscriber fails to comply with any provision of this Agreement,FreJunHR may terminate
                this
                Agreement if upon providing 5 working days written notice of such breach. the Subscriber fails to
                rectify
                suchbreach. In such cases FreJunHR may retain any Fees previously paid by the Subscriber. </p>
            </div>
            <p style="font-weight: bold">12.4. Refund or Payment upon Termination.</p>
            <div class="sub_parts">
              <p>12.4.1. If this Agreement is terminated by the Subscriber for cause and in accordance with section
                12.3.1of this Agreement, FreJunHR will refund to Subscriber only (a) if the Subscriber has terminated
                the
                Services
                within fifteen (15) days from start of the Subscription Termand (b) only for the unused/ utilized
                duration of the Subscription Term.In case the Subscriber has opted for monthly Subscription the
                Subscriber is not entitled to a refund. unused portion of any pre-paid Fees covering the remainder of
                the Subscription Term.</p>
              <p>12.4.2. If this Agreement is terminated by FrejunHR for cause (in accordance with section 12.3.1 of
                this
                Agreement), theSubscribershall promptly pay any unpaid Fees covering the remainder of the Subscription
                Term. </p>
              <p>12.4.3. In no event will termination relieve the Subscriber of its obligation to pay any Fees due
                hereunder for the period prior to the effective date of termination.</p>
              <p>12.4.4. Upon the termination of this Agreement the Subscriber (and its End User’s) shall no longer be
                entitled to access or use the Software and/ or the Services.</p>
            </div>


          </div>
          <span>13. Limitation of Liability.</span>
          <div class="def_sub_content">
            <p>13.1. Neither party shall be liable to the other for any indirect, consequential, incidental, exemplary
              or special damages, howsoever caused in connection with this agreement even if the other party has been
              advised of the possibility of such damages. The maximum liability of FreJunHR(whether in contract, tort
              (including negligence)) hereunder for direct damages, regardless of the form of action, shall be limited
              to the Fees received by FreJunHR from the Subscriber for the Services in the one (01) month period
              immediately preceding event giving rise to such a claim. the foregoing limitations of liability shall
              apply notwithstanding the failure of essential purpose of any limited warranty or remedy herein.</p>
            <p>13.2. Disclaimer of Consequential Damages</p>
            <p>This EULA provides and captures important legal information no event shall either party be liable for the
              cost of procurement of substitute goods or services, any lost profits, revenue, or data, interruption of
              business even if advised of the possibility of such damage or if such damage could have been reasonably
              foreseen. The foregoing shall not limit the subscriber’s payment obligations for the software and/ or
              services about the license of the software as a service, namely FreJunHR.</p>
          </div>
          <span>14. Governing Law.</span>
          <p>This Agreement shall be construed and governed by the laws of Delaware, USA
            without regard to principles of conflict of laws and the courts at Delaware city shall have jurisdiction
            to decide any dispute arising out of or as a result of this EULA.</p>
          <span>15. Publicity.</span>
          <p>The Subscriber agrees that by using the Software and/or the Services, the
            Subscriber permits FreJunHR and provides a limited license to use the Subscriber’s name and trade mark
            logo in promotional materials, web-page, proposal and similar matters and indicating the Subscriber
            as FreJunHR’s customer.</p>
          <span>16. Assignment.</span>
          <p>This Agreement is not assignable or delegable by Subscriber (including, without
            limitation, by merger, operation of law, or through the transfer of all or substantially all of the
            equity, assets, or business of Subscriber), in whole or in part, without the prior written consent
            of FreJunHR. Any assignment not in conformity with this section shall be null and void. FreJunHR may
            assign its rights, obligations and liabilities under this Agreement to a third party at its
            discretion.</p>
          <span>17. Amendment, Waiver.</span>
          <p>No modification, termination, extension, renewal or waiver of any
            provision of this Agreement shall be binding upon a Party unless made in writing and signed by the
            Party for whom enforcement is sought.No modification of this Agreement or of any term or condition
            hereof shall result due to either Party’s acknowledgment or acceptance of the other Party’sforms
            (e.g., purchase order, acknowledgment forms, etc.) containing different or additional terms and
            conditions unless expressly and specifically accepted by both Parties by means of a writing which
            references this Section.A waiver on one occasion shall not be construed as a waiver of any right
            on any future occasion.No delay or omission by a Party in exercising any of its rights hereunder
            shall operate as a waiver of such rights.</p>
          <span>18. Notices.</span>
          <p>Any notices required under this Agreement shall be given in writing,
            shall reference this Agreement, and shall be deemed to have been delivered and given: (a) when
            delivered personally; (b) 3 business days after having been sent by registered or certified mail,
            return receipt requested; or (c) 1 business day after deposit with a commercial overnight courier,
            with written verification of receipt. All communications shall be sent to the addresses set forth in
            the preamble of this Agreement or to such other address as may be designated by a Party by giving
            written notice to the other Party.</p>
          <span>19. Force Majeure.</span>
          <p>Except for any payments due hereunder, neither Party shall be responsible
            for delay or failure in performance caused by any government act, law, regulation, order or decree, by
            communication line or power failures beyond its reasonable control, or by fire, flood or other natural
            disasters or by other causes beyond its reasonable control, nor shall any such delay or failure be
            considered to be a breach of this Agreement.</p>
          <span>20. Compliance with Law.</span>
          <p>The Software may be subject to U.S. export control laws, including the
            U.S. Export Administration Act and its associated regulations, and may be subject to export or import
            regulations in other countries. The Subscriber agrees to comply fully with all laws and regulations of
            the United States and other countries (“Export Laws”) to assure that neither the Software, nor any
            direct products thereof are; (a) exported, directly or indirectly, in violation of Export Laws, either
            to any countries that are subject to U.S. export restrictions or to any End User who has been prohibited
            from participating in the U.S. export transactions by any federal agency of the U.S. Government or
            (b) intended to be used for any purpose prohibited by Export Laws, including, without limitation,
            nuclear, chemical, or biological weapons proliferation.</p>
          <span>21. No Partnership or Joint Venture.</span>
          <p>In performing their respective duties under this
            Agreement FreJunHR and the Subscriber will be operating as independent contractors and neither Party
            is the legal representative, agent, joint venture, partner, or employee of the other Party for any
            purpose whatsoever.</p>
          <span>22. Headings.</span>
          <p>The headings of the Sections of this Agreement are for convenience
            only and shall not be of any effect in construing the meaning of the Sections.</p>
          <span>23. Privacy and other Policies.</span>
          <p>Use of the Services is also subject to FreJunHR’s privacy
            policy, and EULAs links to which is located at the footer on FreJunHR’s website. </p>
          <span>24. Provision Severability.</span>
          <p>In the event that it is determined by a court of competent
            jurisdiction that any provision of this Agreement is invalid, illegal, or otherwise unenforceable,
            such provision shall be enforced as nearly as possible in accordance with the stated intention of
            the Parties, while the remainder of this Agreement shall remain in full force and effect and bind
            the Parties according to its terms. To the extent any provision cannot be enforced in accordance with
            the stated intentions of the Parties, such terms and conditions shall be deemed not to be a part of this
            Agreement.</p>
          <span>25. Counterparts.</span>
          <p>This Agreementmay be executed in multiple counterparts, each of which shall
            be deemed an original, but all of which together shall constitute one and the same instrument. </p>
          <span>26. Entire Agreement.</span>
          <p>This Agreement constitutes the entire agreement between the Parties
            and supersedes any prior understanding or representation of any kind preceding the date of this
            Agreement, and may not be amended, supplemented, varied or otherwise changed except in writing.
            There are no other promises, conditions, understandings or other agreements, whether oral or written,
            relating to the subject matter of this Agreement. Each Party acknowledges that, in entering into
            this Agreement, it has not relied on, and shall have no right or remedy in respect of, any statement,
            representation, assurance or warranty other than as expressly set out in this Agreement. This Agreement
            may be modified in writing specifically referencing this Agreement and any such modifications must be
            signed by both the parties. </p>
        </div>
        <div class="exhibit">
          <h4>Exhibit A</h4>
          <span>Description of Software:<small> FreJunHR is an AI system to make your interview process effective.
              FreJunHR assists in interview scheduling, calling, recording, sending personalized messages to candidates,
              and generating interview notes using the Natural Language Processing (NLP) and the speech processing
              Algorithms.</small></span>
          <span>Description of Service: <small>FreJunHR provides automated scheduling, calling, recording, and
              generating interview notes and sending personalized messages to candidates without/with minimal manual
              intervention. </small></span>
        </div>

      </div>
    </div>
  </div>
</section>